.generalTourPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(226, 225, 225);
    align-items: center;
    padding: 33px 0;
}

.tourContainer{
    width: 1080px;
}
.tourIntroCont{
    width: 1080px;
}

.tourCountryList{
    background-color: var(--pale-yellow);
    padding: 6px 33px;
}

.tourTitleBar{
    background-color: var(--brown-main);
    width: 100%;
    color: white;
    font-size: 2.5em;
    letter-spacing: 2px;
    font-weight: 500;
    padding: 12px 44px;
}

.tourDetails{
    background-color: rgb(72, 75, 66);
    color: white;
    padding: 9px 12px;
}

.tourOverviewCont{
    text-align: justify;
    padding: 21px;
    font-size: 1.2em;
}

.tourIMGCarousel{
    width: 80%;
    height: 60%;
    padding: 9px 15px;
    background-color: white;
    margin-bottom: 2%;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.338);
}

.inclusionsExclusionsSec{
    display: flex;
    justify-content: space-around;
}

.incExcCont{
    background-color: white;
    border-radius: 3px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
    width: 45%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
}

.incExcItems{
    text-transform: capitalize;
}

@media (max-width: 1080px) {
    .tourContainer{
        width: 100%;
        padding: 9px 18px;
    }
    .tourIntroCont{
        width: 100%;
    }
}