.generalTourPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(226, 225, 225);
    align-items: center;
    padding: 33px 0;
    padding-top: 50px;
}

.accordionCont{
    width: 100%;
}

.tourContainer{
    width: 1080px;
    padding-bottom: 21px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tourIntroCont{
    width: 1080px;
}

.tourCountryList{
    background-color: var(--pale-yellow);
    padding: 6px 33px;
    text-transform: capitalize;
    font-size: 1.5em;
}

.tourTitleBar{
    width: 100%;
    font-size: 2.5em;
    letter-spacing: 2px;
    padding: 12px 44px;
    text-transform: capitalize;
    
}

.carouselSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}

.tourIMGCarousel{
    background-color: rgb(60, 61, 62);
    padding: 15px 55px;
    margin: 2% 0;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
}

.aTourImage{
    position: relative;
    min-width: 400px;
    height: 300px;
    margin: 33px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.296);
    cursor: pointer;
}



/* give arrow animation, white box shadow, position center */


.carouselIconCont{
    position: absolute;
    right: 0;
    top: 50px;
}





.mainImage{
    width: 720px;
    height: 540px;
    position: relative;
}

.imgDialogCont{
    width: 90vw;
    display: flex;
    flex-direction: column;
}

.dialogImgCont{
    padding: 6px 12px;
    border-radius: 5px;
}

.closeDialogBtn{
    margin: 9px;
    border: solid 3px var(--brick-red);
    border-radius: 5px;
    padding: 9px 12px;
    width: fit-content;
    cursor: pointer;
}

.tourDetails{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;  
    font-size: 1.2em;
    color: var(--brick-red);
}

.tourDetails > span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9px 21px;
    font-weight: 500;
    border-right: solid 2px var(--brick-red);
    text-transform: capitalize;
}

.tourDetails > span:last-of-type{
    /* target last span, remove border */
    border: none;
}

.tourOverviewCont{
    text-align: justify;
    padding: 21px;
    font-size: 1.2em;
}


.inclusionsExclusionsSec{
    display: flex;
    justify-content: space-around;
}

.incExcCont{
    background-color: white;
    border-radius: 3px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
    width: 45%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
}

.incExcItems{
    text-transform: capitalize;
}

.dayInclusionCont{
    margin-top: 12px;
    border: solid 0.5px black;
}

.dayInclusionCont > h4{
    margin: unset;
    margin: 9px;
}
@media (max-width: 1080px) {
    .tourContainer{
        width: 100%;
        padding: 9px 18px;
    }
    .tourIntroCont{
        width: 100%;
    }
    .mainImage{
        width: 100%;
        height: calc(100vw - 28vw );
    }
}
@media (max-width: 600px) {
    .tourCountryList{
        font-size: 1em;
        padding: 6px 12px;
    }

    .tourTitleBar{
        font-size: 1.5em;
        padding: 15px 33px;
        text-align: center;
    }
    .tourDetails{
        font-size: 0.9em;
    }

    .tourOverviewCont{
        padding: 0 12px;
        font-size: 1em;
    }
    .inclusionsExclusionsSec{
        flex-direction: column;
    }
    .incExcCont{
        width: 100%;
        margin-bottom: 6px;
    }
}