
.homeGenCont{
  padding-top: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 111vh;
  align-items: center;
  background-color: whitesmoke;
}

.homeCarousel{
  width: 46%;
}
.carouIMG{
  padding: 6px;
}
.desktopIMGCaption{
  font-weight: 500;
  text-align: end;
  padding: 6px 9px;
}

.landingSect1{
  display: flex;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
}

.homeLandingLogo{
  width: 150px;
}
.landingText{
  width: 46%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introText{
  text-align: justify;
  font-size: 1.2em;
}

.landingCTAs{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cta1{
  border-radius: 5px;
  background-color: goldenrod;
  color: white;
  padding: 6px 9px;
  text-transform: capitalize;
  width: 190px;
  text-align: center;
}
.cta2{
  border-radius: 5px;
  background-color: orangered;
  color: white;
  padding: 6px 9px;
  text-transform: capitalize;
  width: 190px;
  text-align: center;
}

@media (max-width: 600px) {
  /* .landingSect1{

  } */
}