
.homeGenCont{
  padding: 110px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 111vh;
  align-items: center;
  background-color: whitesmoke;
}

.homeCarousel{
  width: 46%;
}
.carouIMG{
  padding: 6px;
}
.desktopIMGCaption{
  font-weight: 500;
  text-align: end;
  padding: 6px 9px;
}

.landingSect{
  display: flex;
  width: 1200px;
  justify-content: space-around;
  align-items: center;
}

.homeLandingLogo{
  width: 150px;
}
.landingText{
  width: 46%;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introText{
  text-align: justify;
  font-size: 1.2em;
}

.landingCTAs{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.cta1{
  border-radius: 5px;
  background-color: goldenrod;
  color: white;
  padding: 6px 9px;
  text-transform: capitalize;
  width: 190px;
  text-align: center;
  cursor: pointer;
}
.cta2{
  border-radius: 5px;
  background-color: orangered;
  color: white;
  padding: 6px 9px;
  text-transform: capitalize;
  width: 190px;
  text-align: center;
  cursor: pointer;
}

.destinationCardCont{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 280px;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.35);
  text-transform: capitalize;
  background-color: white;
  cursor: pointer;
}

.destTagLine{
  font-style: italic;
  font-size: 1.2em;
  padding: 6px;
}

.destinationCTA{
  width: 100%;
  text-align: center;
  color: white;
  background-color: brown;
  text-transform: uppercase;
  font-weight: 500;
  padding: 6px;
}

.compDescr2{
  width: 800px;
  text-align: center;
  border-top: solid 1px black;
  margin-top: 50px;
}

.partnerLinks{
  width: 900px;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}
.partnerLinkcont{
  width: 150px;
  margin: 21px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all ease-in 0.5s;
  padding: 9px;
  cursor: pointer;
}

.partnerLinkcont:hover{
  background-color: white;
  box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.353);
}

@media (max-width: 600px) {
  /* .landingSect1{

  } */
}