.generalPageCont{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    padding: 12px;
    background-color: var(--whitesmoke-background);
    overflow-x: hidden;
    transition: all ease-in 0.2s;
}

.libraryMain{
    display: flex;
    width: 760px;
}

.backBTN{
    width: 600px;
    display: flex;
    align-items: center;
    margin: 21px 0;
    cursor: pointer;
}

.spaceBetRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.hotelAdderForm{
    width: 100%;
    padding: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.aClientDisp{
    transition: all ease-in 0.3s;
    position: sticky;
    top: 99px;
    border: solid 1px black;
    padding: 15px 18px;
    padding-bottom: 15px;
    background-color: white;
}

.clientColumn{
    width: 50%;
    min-height: 100vh;
}

.dataColumn{
    width: 46%;
    display: flex;
    flex-direction: column;
}

.aContactDisp{
    padding-bottom: 12px;
    border-bottom: solid 1px black;
}

.removeContactBTN{
    position: absolute;
    transform: translate(-30px, 10px);
    cursor: pointer;
    color: red;
}

.sectionDivider{
    margin-top: 21px;
    padding: 12px 0;
    border-top: solid 1px black;
    width: 100%;
    font-size: 1.3em;
}

.addRecordBTN{
    width: 100%;
    border: none;
    text-transform: capitalize;
    font-size: 1.1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 12px 18px;
    transition: all ease-in 0.3s;
    background-color: white;
}

.addRecordBTN:hover{
    cursor: pointer;
    background-color: teal;
    color: white;
}



.submitHotelBTN{
    margin: 21px 0;
    background-color: white;
    padding: 18px 33px;
    font-size: 1.3em;
    transition: all ease-in 0.2s;
}

.submitHotelBTN:hover{
    cursor: pointer;
    background-color: teal;
    color: white;
}

.aPriceInputcont{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.anInputLabel{
    text-transform: uppercase;
    font-weight: 600;
    margin: 6px 0;
}

.aPriceInputcont input{
    padding: 6px 9px;
    width: 70%;
}

.hotelRoomDisp{
    display: flex;
    justify-content: space-between;
    border: solid 1px black;
    padding: 9px;
    margin-bottom: 12px;
    font-size: 0.8em;
    text-transform: capitalize;
}

.hotelRoomDisp strong{
    font-size: 0.9em;
}

.rmvExpenseBTN{
    position: absolute;
    transform: translate(-25px, -25px);
    background-color: white;
    cursor: pointer;
    color: red;
}

/* additional services FFD */
.serviceDetDisp{
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    padding: 9px;
    margin: 12px 0;
}

.serviceColumn{
    display: flex;
    flex-direction: column;
    width: 50%;
}

.priceDetIncl{
    color: rgb(79, 78, 78);
    text-align: end;
    font-size: 0.7em;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    margin-top: 6px;
}

.priceDisp{
    padding: 12px 0;
    font-size: 1.3em;
    text-align: end;
}



.rmvEntryBTN{
    position: absolute;
    transform: translate(-41px, -30px);
    cursor: pointer;
    color: red;
}


/* home */
.libQuickLinks{
    padding: 21px;
    border-left: solid 1px black;
    width: 40%;
}

.aQuickLink{
    width: 240px;
    box-shadow: var(--frst-box-shadow);
    padding: 12px 18px;
    background-color: white;
    font-size: 0.9em;
    text-transform: uppercase;
    transition: all ease-in 0.1s;
    margin-bottom: 15px;
    cursor: pointer;
}
.aQuickLinkDES{
    width: 240px;
    padding: 12px 18px;
    font-size: 0.9em;
    text-transform: uppercase;
    margin-bottom: 15px;
    cursor: pointer;
    border: solid 1px grey;
}

.aQuickLink:hover{
    background-color: teal;
    color: white;
    box-shadow: var(--frst-box-shadow);
}

.libWelcome{
    width: 60%;
    min-height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.libraryFilterUI{
    box-shadow: var(--frst-box-shadow);
    background-color: white;
    width: 600px;
    min-height: 33px;
    margin-bottom: 30px;
    padding: 15px;
}

@media (max-width: 700px) {

    .backBTN{
        width: 100%;
    }
    .libraryMain{
        width: 100%;
        flex-direction: column;
    }

    .libQuickLinks{
        display: none;
    }
}