.aGMSPage{
    background-color: var(--whitesmoke-background);
    min-height: 110vh;
    padding: 0 9px;
    padding-bottom: 66px;
}

.aLineSeparator{
    width: 100%;
    border-bottom: dotted 2px black;
    height: 2px;
    margin: 6px 0;
}

.saveIconCont{
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease-in 0.2s;
    cursor: pointer;
}

.saveIconCont span{
    position: absolute;
    transform: translate(-20px, -20px);
}

.loadingStateScreen{
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px );
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    margin: 21px;
    height: 210px;
    box-shadow: var(--frst-box-shadow);
}

.titleBar{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    border-radius: 6px;
    margin: 12px 0;
    width: 100%;
}

.statsBar{
    width: 300px;
    box-shadow: var(--frst-box-shadow);
    padding: 12px 21px;
    background-color: white;
    border-bottom: solid 2px dotted;
    transform: translateY(-11px);
}
.depCardCont{
    border: solid 1px black;
    padding: 12px;
    width: 300px;
    min-height: 166px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.depCardMapper{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}

.aDepCard{
    border: solid 1px black;
    padding: 9px;
    margin-bottom: 21px;
    width: 260px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.aDepCard strong{
    text-transform: uppercase;
    padding-top: 9px;
}

.aDepCard:hover{
    background-color: white;
}

.placeholderData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.anItinCont{
    border: solid 1px black;
    padding: 6px 9px;
    margin: 6px;
    height: fit-content;
    white-space: nowrap;
    height: 120px;
    transition: all ease-in 0.3s;
}

.anItinCont:hover{
    box-shadow: var(--frst-box-shadow);
}

.anItinCont h3{
    width: 240px;
    white-space: pre-wrap;
    height: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itinPickerRow{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: fit-content;
    width: 100%;
    padding-bottom: 6px;
}

.departureGenCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px;
}
.createDepBTN{
    padding: 3px 6px;
    transform: translate(10px,2px);
    transition: all ease-in 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}

.createDepBTN:hover{
    background-color: coral;
    color: white;
}

.submitDepBTN{
    background-color: unset;
    border: solid 2px black;
    border-top: solid 2px transparent;
    border-left: solid 2px transparent;
    font-size: 1.3em;
    width: 100%;
    text-align: end;
    padding: 22px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.submitDepBTN:hover{
    background-color: var(--ltc-teal);
    color: white;

}

/* General */
.eachDetailTitle{
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8em;
}
.inputUserUI{
    border: none;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    padding: 6px 9px;
    background-color: rgba(128, 254, 143, 0.273);
    margin-top: 6px;
    width: 100%;
}
.inputUserUI:focus{
    background-color: unset;
}
.inputLabel{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.inputAndRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 346px;
}


/* Dates */
.eachDateCont{
    padding: 15px 18px;
    border: solid 1px black;
    min-height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* File displayer */
.aFileContainer{
    width: 760px;
    background-color: white;
    box-shadow: var(--frst-box-shadow);
    padding: 6px 12px;
    z-index: 0;
}

.detailDispl{
    display: flex;
    flex-wrap: wrap;
    width: 740px;
}

.eachDetailCont{
    width: calc(50% - 9px);
    padding: 9px 21px;
}
.keySelectors{
    width: 760px;
    display: flex;
    justify-content: flex-end;
}

.keySelectors span{
    transform: translateY(9px);
    width: 133px;
    padding: 6px;
    text-align: center;
    border: solid 3px black;
    border-radius: 5px;
    z-index: 0;
    transition: all ease-in 0.1s;
    margin: 0 3px;
}

.keySelectors span:hover{
    transform: translateY(3px);
    cursor: pointer;
}

.keySelectors span:nth-of-type(1):hover{
    background-color: bisque;
}

.keySelectors span:nth-of-type(2):hover{
    background-color: teal;
    color: white;
}
.keySelectors span:nth-of-type(3):hover{
    background-color: rgba(255, 115, 8, 0.959);
}
.keySelectors span:nth-of-type(4):hover{
    background-color: rgba(102, 13, 198, 0.959);
    color: white;
}
.keySelectors span:nth-of-type(5):hover{
    background-color: crimson;
    color: white;
}

.extraSelectors{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(-393px, 44px);
    z-index: 0;
}

.extraSelectors span{
    border: solid 2px black;
    border-radius: 5px;
    height: 39px;
    padding: 6px;
    padding-right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-bottom: 9px;
    transition: all ease-in 0.2s;
}

.extraSelectors span:hover{
    transform: translateX(-6px);
    background-color: var(--ltc-teal);
}

.spaceBetRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.spaceBetRowPRINT{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}



/* rooming */
.roomingListCont{
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.roomingListCont h2{
    width: 100%;
    padding: 15px 0;
}

.roomingGuestRow{
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    align-items: center;
    display: flex;
    padding: 6px 0;
}

.roomingGuestRow:last-of-type{
    border-bottom: unset;
}

.eachRoomDisplayer{
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-top: none;
    height: fit-content;
    text-align: center;
    position: inherit;
}

.eachRoomDisplayer span{
    padding: 3px;
}

.editRoomingIcon{
    position: absolute;
    left: -44px;
    cursor: pointer;
}

.deleteARoomIcon{
    position: absolute;
    right: -44px;
    color: red;
    cursor: pointer;
}

.aRoomingDetail{
    text-transform: uppercase;
    font-size: 0.9em;
}

.guestTotal{
    border: solid 1px black;
    margin-bottom: 9px;
    padding: 9px;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    right: 0;
}

.roomingListGrid{
    width: 728px;
    margin: 9px;
    font-size: 0.9em;
}
.roomingListKEYS{
    text-align: center;
    font-weight: 600;
    display: flex;
    border: solid 1px black;
    border-bottom: solid 3px black;
    padding: 9px 0;
}

.depNotesCont{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.eachGuestNote{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    border: solid 2px black;
    border-radius: 5px;
    padding: 3px 9px;
    width: fit-content;
    cursor: pointer;
    margin: 3px 0;
    text-transform: capitalize;
}

.eachGuestTitleEdit{
    width: 100%;
    border-top: solid 1px black;
    margin-top: 9px;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guestNotesCont{
    display: flex;
}

.roomEditSwitcher{
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomTypeIndicator{
    text-transform: uppercase;
    border: solid 1px black;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 9px 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: crosshair;
}

.addRoomBTN{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 600;
    color: red;
    transition: all ease-in 0.3s;
    border-radius: 5px;
    padding: 9px 12px;
    margin-bottom: 6px;
}

.roomingListTotalCont{
    border: solid 1px black;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 12px;
    width: 100%;
}

.roomingListTotalCont div{
    width: 180px;
    font-size: 0.9em;
    margin: 0 3px;
    text-align: center;
}

/* expenses: */
.accomListDisp{
    border: dotted 1px black;
    border-top: none;
    border-left: none;
    width: 97%;
    margin: 0 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    font-size: 0.9em;
}

.anExpenseDisp{
    border: solid 1px black;
    border-top: none;
    border-left: none;
    width: 97%;
    margin: 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    font-size: 0.9em;
}

.anExpenseDisp strong{
    width: 230px;
    word-wrap: break-word;
    border-right: solid 1px black;
    padding-right: 3px;
}

.rmvExpBTN{
    color: red;
    padding-right: 6px;
    cursor: pointer;
}

.addExpBTN{
    color: grey;
    cursor: pointer;

}

.dailyTitleCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}

.totalExpCont{
    width: 100%;
    border: solid 2px black;
    padding: 9px 12px;
    margin-top: 9px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
}
.totalExpCont span{
    width: 94px;
    text-align: end;
}

.aPriceColumn{
    display: flex;
    flex-direction: column;
    border-left: dotted 1px black;
    padding: 7px 2px;
}

.priceDataRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 9px 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    cursor: pointer;
}

.addContactBTN{
    border-radius: 10px;
    padding: 9px 12px;
    width: fit-content;
    margin-left: 12px;
    border: solid 2px black;
    cursor: pointer;
}

.aRoomOpt{
    border: solid 1px black; padding: 6px;
    margin: 6px 0;
    display: flex;
    align-items: center;
}

.aColumn{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.aColumn:nth-of-type(1){
    width: 240px;
    text-align: start;
}
.aColumn:nth-of-type(2){
    width: 99px;
}
.aColumn:nth-of-type(3){
    display: flex;
    text-align: center;
    width: 120px;
    align-items: center;
    justify-content: flex-end;
}
.aColumn:nth-of-type(4){
    text-align: start;
    width: 150px;
}
.aColumn:nth-of-type(5){
    text-align: end;
    width: 120px;
}

.roomOptLabel{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 0.8em;
    margin-bottom: 6px;
}

.aRoomDescription{
    text-transform: capitalize;
}

.aRoomPrice{
    font-size: 1.1em;
    display: flex;
    justify-content: flex-end;
}


/* providers */
.aProviderDisp{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 9px 12px;
}
.providerRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.providerRow:nth-of-type(2){
    justify-content: flex-start;
}

.eachDocBTN{
    border: solid 1px black;
    padding: 6px;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 9px;
    cursor: pointer;
}

.documentGeneraExpense{
    display: flex;
    justify-content: space-between;
    width: 96%;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    margin-left: 4%;
    align-items: center;
}

.documentGeneraExpense span{
    font-size: 0.8em;
    padding: 3px 5px;
}

.documentGeneraExpense strong{
    margin-right: 9px;
    text-transform: uppercase;
}

.documentGenTotal{
    font-size: 0.8em;
    padding: 5px;
    margin-left: 4%;
    border: solid 2px black;
    text-align: end;
}

/* day by day */

.eachDayCont{
    padding: 3px 9px;
    display: flex;
    flex-direction: column;
}

.dayByDayCont{
    display: flex;
    flex-direction: column;
}

@media (max-width: 600px) {
    .statsBar{
        width: 93%;
    }
    .detailDispl{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .placeholderBar{
        width: 93%;
    }
}

@media print {
    .aGMSPage{
        background-color: unset;
        padding-bottom: unset;
    }
    .keySelectors{
        display: none;
    }
    .printDEL{
        display: none;
    }
    .spaceBetRowPRINT{
        display: none;
    }
    .aFileContainer{
        box-shadow: none;
    }
}

