.loadingStateScreen{
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px );
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    margin: 21px;
    height: 210px;
    box-shadow: var(--frst-box-shadow);
}

.titleBar{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    border-radius: 6px;
    margin: 12px 0;
    width: 100%;

}

.statsBar{
    width: 300px;
    background-color: whitesmoke;
    min-height: 30vh;
    box-shadow: var(--frst-box-shadow);
    margin: 12px 21px;
    padding: 12px 21px;
}

@media (max-width: 600px) {
    .statsBar{
        width: 100%;
    }
}