.aGMSPage{
    background-color: var(--whitesmoke-background);
    min-height: 150vh;
    padding: 0 9px;
    padding-bottom: 66px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.aRow{
    display: flex;
    width: fit-content;
    align-items: center;
    justify-content: center;
}

.returnUIBar{
    width: 800px;
    display: flex;
    align-items: center;
    margin-bottom: 12px;
    cursor: pointer;
}

.aLineSeparator{
    width: 100%;
    border-bottom: dotted 2px black;
    height: 2px;
    margin: 6px 0;
}

.saveIconCont{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    transition: all ease-in 0.2s;
    cursor: pointer;
}

.saveIconCont span{
    position: absolute;
    transform: translate(-20px, -20px);
}

.loadingStateScreen{
    display: flex;
    flex-direction: column;
    width: calc(100% - 50px );
    justify-content: space-around;
    align-items: center;
    border: solid 1px black;
    margin: 21px;
    height: 210px;
    box-shadow: var(--frst-box-shadow);
}

.titleBar{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    border-radius: 6px;
    margin: 12px 0;
    width: 100%;
}

.statsBar{
    width: 300px;
    box-shadow: var(--frst-box-shadow);
    padding: 12px 18px;
    background-color: white;
    margin: 6px;
    margin-bottom: 12px;
    font-size: 0.9em;
    text-transform: uppercase;
}

.depCardCont{
    border: dotted 1px black;
    padding: 6px 15px;
    max-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 6px;
    width: 650px;
}

.depCardMapper{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
}

.aDepCard{
    border: solid 1px black;
    padding: 9px;
    margin-bottom: 12px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    /* width: fit-content; */
}

.aDepCard:hover{
    background-color: white;
}

.depCardFileTab{
    min-height: 12px;
    min-width: 140px;
    border: solid 1px black;
    border-bottom: solid 1px transparent;
    text-align: center;
    padding: 1px 9px;
    padding-bottom: 3px;
    background-color: white;
    transform: translateY(2px);
}

.depCardRow{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.depCardRow strong{
    font-size: 0.8em;
    text-transform: uppercase;
    width: 250px;
    text-align: start;
}
.depCardRow span:nth-of-type(1){
    font-size: 0.9em;
    width: 150px;
    text-align: end;
}
.depCardRow span:nth-of-type(2){
    font-size: 0.9em;
    padding: 0 12px;
}

.depCardRow div:nth-of-type(1){
    padding-bottom: 9px;
    text-transform: uppercase;
}

.placeholderData{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 240px;
}

.flightDisplayer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 12px;
    border-bottom: dotted 1px black;
}

.flightDisplayer span{
    width: 99px;
}
.flightDisplayer span:nth-of-type(1){
    width: 100px;
    text-align: center;
}
.flightDisplayer span:nth-of-type(2){
    width: 100px;
    text-align: center;
}
.flightDisplayer span:nth-of-type(3){
    width: 60px;
    text-align: center;
    border-right: solid 1px black;
    margin-right: 6px;
}
.flightDisplayer strong{
    font-size: 0.8em;
    text-transform: uppercase;
}


/* itinerary utils */
.depTrigBTN{
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    align-items: center;
    border: solid 1px black;
    padding: 9px 12px;
    width: fit-content;
    margin: 21px;
    transition: all ease-in 0.3s;
    cursor: pointer;
    letter-spacing: 1px;
}

.depTrigBTN:hover{
    
    box-shadow: var(--frst-box-shadow);
    background-color: coral;
    color: white;
    border: solid 1px transparent;
}


.anItinCont{
    border: solid 1px black;
    padding: 6px 9px;
    margin: 6px;
    height: fit-content;
    white-space: nowrap;
    height: 120px;
    transition: all ease-in 0.3s;
}

.anItinCont:hover{
    box-shadow: var(--frst-box-shadow);
}

.anItinCont h3{
    width: 240px;
    white-space: pre-wrap;
    height: 44px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.itinPickerRow{
    display: flex;
    overflow-y: hidden;
    overflow-x: scroll;
    height: fit-content;
    width: 100%;
    padding-bottom: 6px;
}

.departureGenCont{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 33px;
}
.createDepBTN{
    padding: 3px 6px;
    transform: translate(10px,2px);
    transition: all ease-in 0.3s;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: 700;
}

.createDepBTN:hover{
    background-color: coral;
    color: white;
}

.submitDepBTN{
    background-color: unset;
    border: solid 2px black;
    border-top: solid 2px transparent;
    border-left: solid 2px transparent;
    font-size: 1.3em;
    width: 100%;
    text-align: end;
    padding: 22px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all ease-in 0.3s;
}

.submitDepBTN:hover{
    background-color: var(--ltc-teal);
    color: white;

}

/* General */
.eachDetailTitle{
    font-weight: 800;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.8em;
}
.inputUserUI{
    border: none;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    padding: 8px 9px;
    background-color: rgba(128, 254, 143, 0.273);
    margin-top: 12px;
    width: 100%;
}
.inputUserUI:focus{
    background-color: unset;
}
.inputLabel{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: flex;
    align-items: center;
}
.inputAndRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 346px;
}

.depStatusIndicator{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    width: 100px;
    padding-bottom: 12px;
}

.depStatusIndicator span{
    font-size: 4em;
    padding-right: 9px;
    position: absolute;
}

.statusOne{
    color: rgb(216, 39, 4);
    transform: translate(-44px, -44px);
}
.statusTwo{
    color: rgb(46, 99, 244);
    transform: translate(-55px, -44px);
}
.statusThree{
    color: rgb(10, 191, 34);
    transform: translate(-63px, -43px);
}

/* Dates */
.eachDateCont{
    padding: 15px 18px;
    border: solid 1px black;
    min-height: 69px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* File displayer */
.aFileContainer{
    width: 760px;
    background-color: white;
    padding: 12px;
    z-index: 1;
    margin-bottom: 21px;
}

.detailDispl{
    display: flex;
    flex-wrap: wrap;
    width: 740px;
}

.eachDetailCont{
    width: calc(50% - 9px);
    padding: 9px 21px;
}
.keySelectors{
    display: flex;
    justify-content: flex-end;
}

.keySelectors span{
    transform: translateY(9px);
    width: 133px;
    padding: 6px;
    text-align: center;
    border: solid 3px black;
    border-radius: 5px;
    z-index: 0;
    transition: all ease-in 0.1s;
    margin: 0 3px;
}

.keySelectors span:hover{
    transform: translateY(3px);
    cursor: pointer;
}

.keySelectors span:nth-of-type(1):hover{
    background-color: bisque;
}

.keySelectors span:nth-of-type(2):hover{
    background-color: teal;
    color: white;
}
.keySelectors span:nth-of-type(3):hover{
    background-color: rgba(255, 115, 8, 0.959);
}
.keySelectors span:nth-of-type(4):hover{
    background-color: rgba(102, 13, 198, 0.959);
    color: white;
}
.keySelectors span:nth-of-type(5):hover{
    background-color: crimson;
    color: white;
}

.extraSelectors{
    display: flex;
    flex-direction: column;
    position: absolute;
    transform: translate(399px, 160px);
    z-index: 0;
}


.extraSelectors span{
    padding: 12px;
    transition: all ease-in 0.2s;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 5px;
}

.extraSelectors span:hover{
    transform: translateX(6px);
    color: white;
}

.extraSelectors span:nth-of-type(1):hover{
    background-color: crimson;
}
.extraSelectors span:nth-of-type(2):hover{
    background-color: goldenrod;
}

.spaceBetRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.spaceBetRowPRINT{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}



/* rooming */
.roomingListCont{
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
.roomingListCont h2{
    width: 100%;
    padding: 15px 0;
}

.roomingGuestRow{
    border-bottom: solid 1px black;
    border-left: solid 1px black;
    align-items: center;
    display: flex;
    padding: 6px 0;
}

.roomingGuestRow:last-of-type{
    border-bottom: unset;
}

.eachRoomDisplayer{
    display: flex;
    align-items: center;
    border: solid 1px black;
    border-top: none;
    height: fit-content;
    text-align: center;
    position: inherit;
}

.eachRoomDisplayer span{
    padding: 3px;
}

.editRoomingIcon{
    position: absolute;
    left: -44px;
    cursor: pointer;
}

.deleteARoomIcon{
    position: absolute;
    right: -44px;
    color: red;
    cursor: pointer;
}

.aRoomingDetail{
    text-transform: uppercase;
    font-size: 0.9em;
}

.guestTotal{
    border: solid 1px black;
    margin-bottom: 9px;
    padding: 9px;
    font-size: 1.3em;
    font-weight: 700;
    text-transform: uppercase;
    position: absolute;
    top: 15px;
    right: 0;
}

.roomingListGrid{
    width: 728px;
    margin: 9px;
    font-size: 0.9em;
}
.roomingListKEYS{
    text-align: center;
    font-weight: 600;
    display: flex;
    border: solid 1px black;
    border-bottom: solid 3px black;
    padding: 9px 0;
}

.depNotesCont{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.eachGuestNote{
    display: flex;
    align-items: center;
    font-size: 0.8em;
    border: solid 2px black;
    border-radius: 5px;
    padding: 3px 9px;
    width: fit-content;
    cursor: pointer;
    margin: 3px 0;
    text-transform: capitalize;
}

.eachGuestTitleEdit{
    width: 100%;
    border-top: solid 1px black;
    margin-top: 9px;
    padding-top: 9px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.guestNotesCont{
    display: flex;
}

.roomEditSwitcher{
    display: flex;
    justify-content: center;
    align-items: center;
}

.roomTypeIndicator{
    text-transform: uppercase;
    border: solid 1px black;
    font-size: 1.2em;
    letter-spacing: 1px;
    padding: 9px 12px;
    width: fit-content;
    display: flex;
    align-items: center;
    cursor: crosshair;
}

.addRoomBTN{
    cursor: pointer;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 0.9em;
    font-weight: 600;
    color: red;
    transition: all ease-in 0.3s;
    border-radius: 5px;
    padding: 9px 12px;
    margin-bottom: 6px;
}

.roomingListTotalCont{
    border: solid 1px black;
    padding: 12px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 9px;
    width: 728px;
}

.roomingListTotalCont div{
    width: 160px;
    font-size: 0.9em;
    margin: 0 3px;
    text-align: center;
}

/* create dep */
.createDepTrig{
    border: solid 1px black;
    margin: 21px;
    padding: 21px 33px;
    font-size: 1.4em;
    width: 240px;
    transition: all ease-in 0.1s;

}

.createDepTrig:hover{
    background-color: teal;
    color: white;
    box-shadow: var(--frst-box-shadow);
    cursor: pointer;
}

/* planner */

.generalPlannerGrid{
    width: 780px;
    margin: 0 33px;
    min-height: 21px;
    padding: 12px 21px;
    border: solid 1px black;
    overflow-x: auto;
}


.aPlannerCard{
    background-color: white;
    padding: 12px 15px;
    border: solid 1px black;
    margin-bottom: 9px;
    cursor: pointer;
    width: fit-content;
    transition: all ease-in 0.2s;
}


.plannerDateDisp{
    width: 780px;
    margin: 0 33px;
    border: solid 1px black;
    background-color: grey;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    padding: 6px 9px;
}

.plannerDayDetail{
    font-size: 1.3em;
    margin: 12px 0;
    width: 525px;
    text-transform: capitalize;
}

.secondDataBox{
    display: flex;
    flex-direction: column;
    margin: 9px 0;
    width: 300px;
    font-size: 0.9em;
}

.plannerFileDataRow{
    display: flex;
    align-items: end;
    margin-left: 9px;
}

/* expenses: */
.accomListDisp{
    border: dotted 1px black;
    border-top: none;
    border-left: none;
    width: 97%;
    margin: 0 11px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 6px;
    font-size: 0.9em;
}

.anExpenseDisp{
    border: solid 1px black;
    border-top: none;
    border-left: none;
    width: 97%;
    margin: 0 11px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px;
    font-size: 0.9em;
}

.anExpenseDisp strong{
    width: 230px;
    word-wrap: break-word;
    border-right: solid 1px black;
    padding-right: 3px;
}

.rmvExpBTN{
    color: red;
    padding-right: 6px;
    cursor: pointer;
}

.addExpBTN{
    color: grey;
    cursor: pointer;

}

.dailyTitleCont{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 21px;
}

.totalExpCont{
    width: 100%;
    border: solid 2px black;
    padding: 9px 12px;
    margin-top: 9px;
    text-transform: uppercase;
    display: flex;
    justify-content: flex-end;
}
.totalExpCont span{
    width: 94px;
    text-align: end;
}

.aPriceColumn{
    display: flex;
    flex-direction: column;
    border-left: dotted 1px black;
    padding: 7px 2px;
}

.priceDataRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 9px 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    cursor: pointer;
}

.addContactBTN{
    border-radius: 10px;
    padding: 9px 12px;
    width: fit-content;
    margin-left: 12px;
    border: solid 2px black;
    cursor: pointer;
}

.aRoomOpt{
    border: solid 1px black; padding: 6px;
    margin: 6px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.roomPriceSetCont{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 21px 0;
}

.roomOptInput{
    display: flex;
}
.roomPriceSetCont span{
    width: 18%;
}

.roomTotalLabel{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 0.8em;
    margin-bottom: 6px;
    text-align: end;
}

.aColumn{
    display: flex;
    flex-direction: column;
    text-align: end;
}

.aColumn:nth-of-type(1){
    width: 240px;
    text-align: start;
}
.aColumn:nth-of-type(2){
    width: 99px;
}
.aColumn:nth-of-type(3){
    display: flex;
    text-align: center;
    width: 120px;
    align-items: center;
    justify-content: flex-end;
}
.aColumn:nth-of-type(4){
    text-align: start;
    width: 150px;
}
.aColumn:nth-of-type(5){
    text-align: end;
    width: 120px;
}

.roomOptLabel{
    text-transform: uppercase;
    font-weight: 800;
    letter-spacing: 1px;
    font-size: 0.8em;
    margin-bottom: 6px;
}

.addRoomTypeBTN{
    width: 18%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-radius: 5px;
}

.roomTotalBox{
    border: solid 2px black; padding: 6px;
    display: flex;
    margin-top: 15px;
    text-align: end;
    justify-content: flex-end;
}

.roomOptsGrid{
    width: 100%;
}

.aRoomDescription{
    text-transform: capitalize;
}

.aRoomPrice{
    font-size: 1.1em;
    display: flex;
    justify-content: flex-end;
}

.secondaryBTN{
    border: unset;
    border-bottom: solid 2px black;
    border-right: solid 2px black;
    background-color: white;
    padding: 9px 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 1.1em;
    cursor: pointer;
    transition: all ease-in 0.2s;
    margin: 9px 0;
}

.secondaryBTN:hover{
    background-color: var(--ltc-teal);
    color: white;
}

/* providers */
.providerFuncBar{
    border-top: solid 1px black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-top: 15px;
}

.aProviderDisp{
    display: flex;
    flex-direction: column;
    width: 100%;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    padding: 9px 12px;
}
.providerRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.providerRow:nth-of-type(2){
    justify-content: flex-start;
}

.eachDocBTN{
    border: solid 1px black;
    padding: 6px;
    text-transform: uppercase;
    font-size: 0.8em;
    margin: 9px;
    cursor: pointer;
}

.documentGeneraExpense{
    display: flex;
    justify-content: space-between;
    width: 96%;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
    margin-left: 4%;
    align-items: center;
}

.documentGeneraExpense span{
    font-size: 0.8em;
    padding: 3px 5px;
}

.documentGeneraExpense strong{
    margin-right: 9px;
    text-transform: uppercase;
}

.documentGenTotal{
    font-size: 0.8em;
    padding: 5px;
    margin-left: 4%;
    border: solid 2px black;
    text-align: end;
}

/* day by day */

.eachDayCont{
    padding: 3px 9px;
    display: flex;
    flex-direction: column;
}

.aDayNote{
    display: flex;
    align-items: center;
}

.dayByDayCont{
    display: flex;
    flex-direction: column;
}

.partnerLogoCont{
    display: flex;
    padding: 0 12px;
    padding-top: 21px;
}

@media (max-width: 600px) {
    .detailDispl{
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }
    .placeholderBar{
        width: 93%;
    }

    .aDepCard{
        width: 420px;
    }
}

@media print {

    .aGMSPage{
        background-color: unset;
        padding-bottom: unset;
        min-height: fit-content;
    }
    .pageBreak{
        page-break-after: always;
        color: white;
    }
    .keySelectors{
        display: none;
    }
    .extraSelectors{
        display: none;
    }
    .printDEL{
        display: none;
    }
    .spaceBetRowPRINT{
        display: none;
    }
    .aFileContainer{
        box-shadow: none;
    }
    .titleBar{
        display: none;
    }
    .providerFuncBar{
        display: none;
    }
}

