

.aRow{
    display: flex;
    align-items: center;
}


.theInputContainer{
    display: flex;
    flex-direction: column;
    margin: 21px;
}

.theInputContainer select{
    text-transform: capitalize;
}

.inputUserUI{
    border: none;
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    padding: 6px 9px;
    background-color: rgba(128, 254, 143, 0.273);
    margin-top: 6px;
    width: 100%;
}

.inputUserUI:focus{
    background-color: unset;
}

.inputLabel{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}



.multiOptsCont{
    display: flex;
    margin: 12px 0;
}

.multiPickerOpt{
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    padding: 6px 9px;
    margin-right: 9px;
    background-color: rgba(128, 254, 143, 0.273);
}

.anInputRow{
    display: flex;
    align-items: flex-end;
}

.anInputRow i{
    font-size: 0.8em;
}

.addToListBTN{
    /* width: 55px; */
    border-left: solid 3px black;
    border-bottom: solid 3px black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-weight: 600; */
    /* font-size: 2em; */
    margin: 0 9px;
    cursor: pointer;
}

.eachListElemDisplayer{
    display: flex;
    justify-content: space-between;
    margin: 3px 12px;
    text-transform: capitalize;
}

.listDisplayer{
    padding: 6px 15px;
}

.multiElemSelects{
    display: flex;
    align-items: center;
    border-right: solid 3px black;
    border-top: solid 3px black;
    padding: 6px 9px;
    margin-right: 9px;
}


/* FOR EXPORT */

.eachImgDisp{
    margin: 9px 12px;
    position: relative;
    border-bottom: dotted  2px;
}

.imgPickerCont{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.imgSelectorBTN{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: teal;
    color: white;
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    font-weight: 500;
    align-items: center;
    font-size: 1.3em;
}

.imgRefData{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 0.9em;
}

.imgRefData div:first-of-type{
    text-align: end;
}

.imgRefData div:nth-of-type(3){
    font-weight: 600;
}

.createUserBTN{
    margin: 9px;
    background-color: var(--ltc-teal);
    width: fit-content;
    padding: 9px 12px;
    color: white;
}



.expenseForm{

    font-size: 0.9em;
}

.aDataRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.aPriceColumn{
    display: flex;
    flex-direction: column;
    border-left: dotted 1px black;
    padding: 7px 2px;
}

.priceDataRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 9px 0;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    cursor: pointer;
}

.secondaryBTN{
    margin: 9px 0;
    padding: 9px 21px;
    border: none;
    width: 100%;
    text-align: end;
    font-size: 1.1em;
    text-transform: uppercase;
    color: white;
    background-color: rgb(59, 153, 166);
    letter-spacing: 2px;
    font-weight: 600;
    cursor: pointer;
}

.anExpenseDisp{
    border: solid 1px black;
    width: 96%;
    margin: 15px;
    
}