
.playgroundPage{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 21px 0;
    min-height: 100vh;
    padding-bottom: 20vh;
}

.cucu{
    transition: all ease-in 0.2s;
    font-size: 2em;
    background-color: burlywood;
    padding: 21px;
}




.cucu:hover{
    font-size: 2em;
    background-color: rgb(42, 151, 181);
    transform: translate(70px, 70px);
}

.depStatusIndicator{
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 0.9em;
    display: flex;
    justify-content: center;
    padding: 12px 18px;
    padding-left: 33px;
}

.depStatusIndicator span{
    font-size: 4em;
    padding-right: 9px;
    position: absolute;
}

.statusOne{
    color: rgb(216, 39, 4);
    transform: translate(-44px, -44px);
}
.statusTwo{
    color: rgb(244, 188, 46);
    transform: translate(-55px, -44px);
}
.statusThree{
    color: rgb(10, 191, 34);
    transform: translate(-63px, -43px);
}


.addFromRecordBTN{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: solid 1px;
    border-right: solid 1px;
    padding:  3px 10px;
    transition: all ease-in 0.2s;
}

.addFromRecordBTN:hover{
    color: white;
    background-color: rgb(55, 62, 69);
    cursor: pointer;
}


.closeBTN{
    transition: all ease-in 0.2s;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3px 9px;
    background-color: white;
}

.closeBTN:hover{
    cursor: pointer;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.201);
}

.expenseForm{
    transition: all ease-in 0.2s;
    margin: 9px 0;
    padding: 15px ;
}

.expenseForm:hover{
    background-color: white;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.201);

}

.autofillCont select{
    padding: 9px 12px;
    font-size: 1.1em;
}

.autofillCont{
    width: 650px;
    min-height: 400px;
    padding: 9px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: start;
}

.autofillGrid{
    display: flex;
    flex-direction: column;
    margin-top: 33px;
    
}
.autofillGrid div:first-of-type{
    font-weight: 700;
}

.eachAutoFill{
    background-color: white;
    border: solid 1px black;
    display: flex;
    padding: 3px 6px;
}


.itinBuilderCont{
    width: 90%;
    background-color: white;
    min-height: 55px;
    padding: 15px 21px;
}


.spaceBetRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.expensesContainer{
    background-color:whitesmoke;
    padding: 9px 12px;
    width: 700px;
}

.eachExpCont{
    width: 100%;
    border: solid 1px black;
    padding: 6px;
    display: flex;
    flex-direction: column;
}




/* new itin builder */
.itinToolkitContainer{
    position: sticky;
    top: 0;
    z-index: 2;
}
.creatorIndexBTNONLINE{
    padding: 21px;
    border-radius: 6px;
    background-color: rgb(8, 92, 134);
    color: white;
    margin-top: 18px;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.creatorIndexBTNOFFLINE{
    padding: 21px;
    border-radius: 6px;
    background-color: rgb(146, 180, 196);
    color: white;
    margin-top: 18px;
    transition: all ease-in 0.3s;
}

.eachDayTab{
    border: solid 1px black;
    margin: 2px;
    padding: 3px 6px;
    border-radius: 5px;
    font-size: 0.8em;
    max-width: 130px;
    cursor: pointer;
    transition: all ease 0.2s;
}

.eachDayTab:hover{
    background-color: teal;
    color: white;

}

.inputLabel{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.inputUserUI{
    border: none;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    padding: 6px 9px;
    background-color: rgba(128, 254, 143, 0.273);
    margin-top: 3px;
    width: 100%;
}

.inputUserUI:focus{
    background-color: unset;
}

.lineBreak{
    width: 100%;
    border-bottom: solid 1px black;
    margin-top: 6px;
    margin-bottom: 12px;
}



/* expense Adder Form */

.expenseAdderBTN{
    background-color: teal;
    padding: 9px 15px;
    border: none;
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    
}



/*  // // // //  */
@media (max-width: 740px) {
    .expensesContainer{
        width: 96%;
    }
}

@media print {

}