.generalPageCont{
    min-height: 100vh;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.teIntroCont{
    margin: 21px;
    padding: 21px;
    border-bottom: solid 1px black;
}

.iconCont{
    text-align: center;
}

.teIntroCont h1{
    margin: unset;
}

.tourHighlightCont{
    display: flex;
}

.aHighlight{
    width: 250px;
    text-transform: capitalize;
}
