/* TOUR COMPONENTS */

.generalTourPage{
    width: 100%;
    min-height: 100vh;
    padding: 110px 0;
    background-color: whitesmoke;
    position: absolute;
    display: flex;
    flex-direction: column;
}

.UIBTNCont{
    background-color: var(--brown-main);
    color: var(--pale-yellow);
    position: sticky;
    top: 0;
    z-index: 33;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.364);
    padding: 6px 0;
    border-bottom: solid 2px;
    display: flex;
    justify-content: center;
    width: 100%;
}


.userIUFilterCont{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}


.userIUFilterCont label{
    margin: 6px;
    font-size: 0.8em;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.userUISec{
    width: 47%;
    display: flex;
    align-items: center;
    padding: 6px;
    justify-content: space-between;
    border-left: solid 3px var(--dull-gold);
}
.userUISec:nth-child(1){
    border-left: none;
}

.aPickerUI{
    width: 180px;
    padding: 3px 9px;
    font-size: 1.2em;
    text-align: center;
    text-transform: capitalize;
    background-color: var(--brown-main);
    color: var(--pale-yellow);
    border: solid 2.5px var(--pale-gold);
    border-radius: 5px;
}

.tourCardContainer{
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 33px 42px;
}

.eachTourDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aTourCard{
    border: solid 1px black;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.35);
    width: 250px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
    margin: 21px;
}

.tourCardDestination{
    font-family: var(--serif-Font);
    margin: 0 12px;
    font-weight: 300;
}
.eachTourDetails h3{
    margin: unset;
    font-size: 1.3em;
    text-align: center;
    margin-bottom: 12px;
}

.tourtype{
    font-family: var(--serif-Font);
    margin: 0 12px;
    margin-top: 6px;
    text-align: end;
    text-transform: capitalize;
}

.durationPriceDisp{
    font-size: 0.9em;
    text-align: center;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    color: var(--brick-red);
    background-color: var(--pale-gold);
    width: 100%;
}

@media (max-width: 1080px) {

    .UIBTNCont{
        width: 100%;
    }
    .userIUFilterCont{
        width: 100%;
    }


}
@media (max-width: 668px) {

    .userIUFilterCont{
        width: 100%;
    }
    .userUISec{
        flex-direction: column;
        padding-top: 0;
    }

    .UIBTNCont{
        padding-top: 0;
    }

}