/* TOUR COMPONENTS */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.generalTourPage{
    width: 100%;
    min-height: 100vh;
    padding: 26px 0;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.UIBTNCont{
    background-color: var(--pale-yellow);
    color: var(--brown-main);
    position: sticky;
    top: 30px;
    z-index: 33;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.364);
    padding: 3px 0;
    border-bottom: solid 1px var(--brick-red);
    display: flex;
    justify-content: center;
    width: 100%;

}


.userIUFilterCont{
    width: 1000px;
    display: flex;
    justify-content: space-evenly;
}


.userIUFilterCont label{
    margin: 6px;
    font-weight: 800;
    letter-spacing: 3px;
    text-transform: uppercase;
}

.userUISec{
    display: flex;
    align-items: center;
    padding: 3px;
    justify-content: space-between;
    border-left: solid 1px var(--brown-main);
}
.userUISec:nth-child(1){
    border-left: none;
}

.aPickerUI{
    width: 180px;
    height: 36px;
    padding: 3px 9px;
    text-transform: capitalize;
    background-color: white;
    color: rgba(128, 128, 128, 0.692);
    border: solid 2.5px transparent;
    border-radius: 5px;
}

.aPickerOption{
    height: 36px;
    padding: 9px;
}

.sortingUICont{
    display: flex;
    align-items: center;
}

.sortingUICont select{
    border-radius: 5px;
    margin: 9px;
    padding: 5px 11px;
    width: 170px;
    background-color: transparent;
    text-align: center;
    text-transform: capitalize;
}

.userSortUISec{
    align-items: center;
    display: flex;
    font-weight: 600;
}

.orderArrCont{
    display: flex;
}

.checkedArr{
    cursor: default;
    display: flex;
    align-items: center;
    margin: 9px 9px;
    padding: 6px 9px;
    border: solid 1px black;
    border-radius: 8px;
    text-align: center;
}
.unCheckedArr{
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 3px 9px;
    padding: 6px 9px;
    border: solid 1px transparent;
    border-radius: 8px;
    transition: all ease 0.5s;
}

.unCheckedArr:hover{
    border: solid 1px var(--brick-red);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.392);
}

.tourCardContainer{
    min-height: 40vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: space-between;
    flex-wrap: wrap;
    padding: 15px 0;
    background-color: whitesmoke;
}

.eachTourDetails{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.aTourCard{
    border: solid 1px black;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.35);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    cursor: pointer;
    margin: 18px;
    transition: all ease-in 0.2s;
    width: 250px;
}

.aTourCard:hover{
    box-shadow: 9px 9px 8px rgba(0, 0, 0, 0.35);
}

.tourCardDestination{
    margin: 0 9px;
    padding-bottom: 6px;
    text-transform: uppercase;
    font-size: 0.8em;
    font-family: var(--serif-Font);
}
.eachTourDetails h3{
    height: 50px; 
    margin: unset;
    text-align: center;
    margin-bottom: 9px;
    word-wrap: break-word;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize;
    border-top: dashed 1px black;
    padding-top: 6px;
    font-size: 1.3em;
}

.tourtype{
    margin: 0 12px;
    margin-top: 6px;
    text-align: end;
    text-transform: capitalize;
}

.tourImg{
    transform: translateY(3px);
}

.tourCardDurtion{
    font-weight: 700;
    text-align: center;
    width: 100%;
    padding: 4px 0;
}

.durationPriceDisp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: var(--pale-yellow);
    background-color: var(--brown-main);
    width: 100%;
    padding-bottom: 5px;
}

.tourPageIMGSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    position: relative;
}
.tourPageImageCont{
    width: 1080px;
}

.introArrowIcon{
    color: white;
    position: sticky;
    top: 90vh;
    animation-name: ArrowMovement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    z-index: 20;
}

.tourPageImageCont{
    transform: translateY(3px);
}


@keyframes ArrowMovement{
    0% {transform: translateY(12px)}
    50% { transform: translateY(-15px); }
    100% {
        transform: translateY(12px);
    }
}

@media (max-width: 1080px) {

    .tourPageImageCont{
        width: 100%;
    }

    .UIBTNCont{
        width: 100%;
    }
    .userIUFilterCont{
        width: 100%;
    }

    .sortingUICont{
        min-height: 55px;
    }

}
@media (max-width: 768px) {

    .userIUFilterCont{
        width: 100%;
    }
    .userUISec{
        flex-direction: column;
        justify-content: center;
    }
    .orderArrCont{
        flex-direction: column;
    }

    .checkedArr{
        font-size: 0.8em;
        padding: 3px 6px;

    }
    .unCheckedArr{
        font-size: 0.8em;
        padding: 3px 6px;
    }
    .unCheckedArr:hover{
        border: solid 1px var(--brick-red);
        box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.392);
    }

}