.generalPageCont{
    width: 100%;
    background-color: var(--whitesmoke-background);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.itineraryDisplCont{
    width: 96%;
    padding: 9px 15px;
    border: solid 1px black;
    margin: 12px 0;
}

.tourCardDisp{
    display: flex;
    overflow-x: auto;
}

.filterUICont{
    text-transform: capitalize;

}

.aGenBTN{
    background-color: var(--ltc-teal);
    padding: 12px;
    width: 210px;
    color: white;
    font-weight: 500;
    text-align: center;
    text-transform: uppercase;
    cursor: pointer;
}