.generalPageCont{
    min-height: 101vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: var(--whitesmoke-background);
    padding-bottom: 66px;
}

.spaceBetRow{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.homeBTN{
    display: flex;
    flex-direction: column;
    padding: 21PX 0;
    border: solid 2px black;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    cursor: pointer;
    transition: all ease-in 0.3s;
    width: 160px;
}

.homeBTN:hover{
    background-color: white;
    box-shadow: var(--frst-box-shadow);
}

.localNav{
    width: 100%;
    border-bottom: solid 2px black;
    padding: 9px 15px;
    position: sticky;
    top: 0;
    background-color: var(--whitesmoke-background);
    z-index: 2;
}

.returnHomeBTN{
    display: flex;
    width: fit-content;
    align-items: center;
    cursor: pointer;
}

.tourCreatorTitle{
    align-items: center;
    display: flex;
    flex-direction: column;
    padding-top: 12px;
    border-radius: 6px;
    margin: 12px;
    width: 300px;
}

.tourCreatorTitle h1{
    margin-top: 0;
    width: 70%;
    text-align: center;
}
.tourCreatorTitle h3{
    margin: 33px;
}

.tourCreatorTitleBar{
    display: flex;
    width: 100%;
    padding-left: 21px;
    border-bottom: solid 1px black;
    box-shadow: 0 5px 4px rgba(0, 0, 0, 0.203);
    margin-bottom: 33px;
    background-color: white;
}

.editIconCont{
    position: absolute;
    transform: translateX(150px);
}

.editDayDialog{
    display: flex;
    width: 450px;
    flex-direction: column;
    padding: 21px;
    
}

.upcomingTitleBar{
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: dotted 1px black;
    color: black;
    padding: 9px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 1.2em;
    font-weight: 600;
}

.destPicker{
    width: 95%;
    display: flex;
    flex-direction: column;
}

.destPicker label{
    margin: 6px 5px;
}

.tourTypeSelect{
    padding: 2px 0;
    margin: 0 5px;
    width: 214px;
    text-transform: capitalize;
}

.tourHighlightCont{
    display: flex;
}

.aHighlight{
    width: 250px;
    text-transform: capitalize;
}


.tourCreatorLayout{
    width: 100%;
    display: flex;
    padding: 12px;
    justify-content: center;
}

.tourDispCont{
    background-color: white;
    width: calc(94vw - 330px);
    margin-top: 21px;
    height: fit-content;
}

.eachTourDispl{
    margin: 21px;
    width: 930px;
}

.tMSteps{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 21px;
    width: 330px;
    position: sticky;
    top: 21px;
}

.nextStepBTN{
    width: 100%;
    margin: 15px 0;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    background-color: var(--ltc-teal);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.145);
    cursor: pointer;
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;

}


.editDayBTN{
    border-radius: 4px;
    border: solid 2px black;
    font-size: 0.9em;
    font-weight: 600;
    padding: 3px 4px;
    margin: 0 6px;
    cursor: pointer;
}

.editDayCont{
    display: flex;
    flex-wrap: wrap;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    padding: 9px 0;
    align-items: center;
}

.editDayCont strong{
    margin-right: 9px;
}


/* IMG PICKER STYLING */

.imgSelectionCont{
    width: 100%;
}
.eachImgDisp{
    margin: 9px 0;
    position: relative;
    border-bottom: dotted  2px;
}

.imgPickerCont{
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    height: 450px;
    justify-content: space-between;
}

.imgSelectorBTN{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background-color: teal;
    color: white;
    position: absolute;
    top: -6px;
    right: -6px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}

.imgRefData{
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
    font-size: 0.9em;
    width: 150px;
}

.imgRefData div:first-of-type{
    text-align: end;
}

.imgRefData div:nth-of-type(3){
    font-weight: 600;
}

.imgUIUtils{
    display: flex;
    width: calc(94vw - 330px);;
    align-items: center;
    flex-wrap: wrap;
    background-color: var(--whitesmoke-background);
    padding: 9px;
}

.priceTable{
    margin-top: 9px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.priceTable td{
    border: solid 1px black;
    padding: 3px;
    width: 65px;
    text-align: end;
}

.addRangeBTN{
    width: 100%;
    background-color: var(--ltc-teal);
    cursor: pointer;
    text-align: center;
    padding: 9px;
    text-transform: uppercase;
    margin-top: 9px;
}


/* Autofill */
.autofillEntryCont{
    border: solid 1px black;
    padding: 3px 6px;
    width: 100%;
}

.eachEntryEdit{
    width: 420px;
    padding: 12px;
    margin-bottom: 33px;
    overflow-x: hidden;
}

@media (max-width: 1100px)  {
    .eachTourDispl{
        width: 100%
    }
}