.loginContainer{
    border: solid 1px black;
    margin: 21px;
    padding: 9px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.anInputRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 6px 0;
    align-items: center;
}
.aFormLabel{
    font-weight: 600;
}
.aFormInput{
    width: 210px;
    border: solid 3px black;
    border-radius: 5px;
    margin: 9px;
}
.submitBTN{
    border-radius: 5px;
    border: solid 3px black;
    margin: 9px;
    width: 90%;
    padding: 12px;
    text-align: center;
    background-color: white;
    transition: 1s;
    
}
.submitBTN:hover{
    border: solid 3px blue;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.17);
}
/* ////////////// */
/* Image Pickers */

.imageThumbnailDisp{
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 96%;
    border: solid 1px black;
}

.imageThumbnail{
    margin: 15px;
    min-width: 200px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.296);
}

/* Tour Highlights */
.highlightInputCont{
    display: flex;
    align-items: center;
    font-size: 1.3em;
    margin-top: 21px;
    padding-top: 12px;
    border-top: solid 1px black;
}
