
.anInputRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin: 6px 0;
    align-items: center;
}
.aFormLabel{
    font-weight: 600;
}
.aFormInput{
    width: 210px;
    border: solid 3px black;
    border-radius: 5px;
    margin: 9px;
}
.submitBTN{
    border: none;
    margin: 9px;
    width: 90%;
    padding: 12px;
    transition: 0.7s;
    font-size: 1.1em;
    background-color: var(--ltc-teal);
}

.submitBTN:hover{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.17);
}


.secondaryBTN{
    margin: 15px;
    padding: 9px 12px;
    border: solid 2px black;
    border-radius: 5px;
    width: fit-content;
    cursor: pointer;
}





/* ////////////// */
/* Image Pickers */

.imageThumbnailDisp{
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 99%;
    border: solid 1px black;
}

.imageThumbnail{
    margin: 12px 18px;
    min-width: 290px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.296);
    padding-right: 3px;
}

/* Tour Highlights */
.highlightInputCont{
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    margin-top: 15px;
    padding-bottom: 12px;
    border-bottom: solid 1px black;
}


/* Date Pickers */
.datePickersCont{
    border: solid 1px black;
    margin: 12px 0;
    padding: 0 12px;
}

.aDatePickerCont{
    display: flex;
    justify-content: space-between;
    width: 300px;
    align-items: center;
    margin: 6px 0;
}

.aDateInput{
    height: 30px;
}

/* //////////////// */
/* Day description */

.inputToListRow{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-transform: capitalize;
}

.inputToListRow span{
    margin: 6px 9px;
}

.hotelData{
    display: flex;
    justify-content: space-between;
}

.addFromRecordBTN{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    border-bottom: solid 1px;
    border-right: solid 1px;
    padding:  3px 10px;
    transition: all ease-in 0.2s;
}

.addFromRecordBTN:hover{
    color: white;
    background-color: rgb(55, 62, 69);
    cursor: pointer;
}

.autofillCont select{
    padding: 9px 12px;
    font-size: 1.1em;
}

.autofillCont{
    width: 650px;
    min-height: 400px;
    padding: 9px 15px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: start;
}




.autofillGrid{
    display: flex;
    flex-direction: column;
    margin-top: 33px;
}
.autofillGrid div:first-of-type{
    font-weight: 700;
}

.eachAutoFill{
    border: solid 1px black;
    display: flex;
    padding: 3px 6px;
}



.submitDayBTN{
    width: 100%;
    margin: 15px 0;
    width: 100%;
    padding: 15px;
    text-transform: uppercase;
    background-color: var(--ltc-teal);
    box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.145);
    cursor: pointer;
    text-align: center;
    border: none;
}

.dayAdditionalsCont{
    border-radius: 5px;
    text-align: center;
    margin: 21px 0;
}
.additionalOptionsCont{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


/* FFDeletion */
.anInputcont{
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: start;
    margin: 5px 0;
    padding: 5px;
}
.anInputLabel{
    margin: 6px 0;

}


/* //////////////////////////////// */
/* //////////////////////////////// */
/* updated Inputs */

.theInputContainer{
    display: flex;
    flex-direction: column;
    margin: 9px 0;
    width: 100%;
}

.theInputContainer textarea{
    height: 120px;
}

.anInputRow{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

.anInputRow i{
    font-size: 0.8em;
    text-align: end;
}

.inputLabel{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.inputUserUI{
    border: none;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    padding: 6px 9px;
    background-color: rgba(128, 254, 143, 0.273);
    margin-top: 3px;
    width: 100%;
}

.inputUserUI:focus{
    background-color: unset;
}

.theInputContainer select{
    text-transform: capitalize;
}

.aRow{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;

}

.listDisplayer{
    padding: 6px 15px;
}

.multiPickerOpt{
    width: 44%;
    border-left: solid 2px black;
    border-bottom: solid 2px black;
    padding: 6px 9px;
    margin-right: 9px;
    background-color: rgba(128, 254, 143, 0.273);
    margin: 3px 0;
    text-transform: capitalize;
    font-size: 0.9em;
    cursor: pointer;
}

.multiElemSelects{
    display: flex;
    align-items: center;
    border-right: solid 2px black;
    border-top: solid 2px black;
    padding: 6px 9px;
    margin-right: 9px;
    width: 110px;
    font-size: 0.9em;
    display: flex;
    justify-content: space-between;
    text-transform: capitalize;
}


/* Edit Day By Day */
.editDaysCont span{
    padding: 6px 9px;
    border: solid 2px black;
    border-radius: 6px;
    margin: 0 6px;
    cursor: pointer;
}

.editDaysCont{
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.editDayOpts{
    display: flex;
    width: 100%;
    flex-direction: row;
    margin: 6px 0;
    flex-wrap: wrap;
}

.editDayBTN{
    border: solid 1px black;
    padding: 12px 21px;
    margin-top: 15px;
    box-shadow: var(--frst-box-shadow);
}









/* OLDIES */

.eachAddiOpt{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    width: 80px;
    height: 70px;
    margin: 9px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.17);
}

.submitFlightsBTN{
    margin: 4px 4px;
    padding: 15px 0;
    border: solid 3px black;
    border-radius: 5px;
}

/* ////////////// */
/* AUTH */
.signInForm{
    text-align: center;
    min-height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.signUpForm{
    background-color: #F6F6F6;
    padding: 0 33px;
    border-radius: 5px;
}

.authBTN{
    border: solid 2px black;
    border-radius: 5px;
    padding: 6px 9px;
    margin: 6px;
    cursor: pointer;
}

.logInModCont{
    min-height: 40vh;
    width: 600px;
    background-color: #2f2f2f;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 12px;
}

.signOutBTN{
  padding: 6px 12px;
  border: solid 1px black;
  cursor: pointer;
}
.signOutBTN:hover{
    transition: all ease 0.5s;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.17);
}





