.hotelInfoGenCont{
    border: solid 1px black;
    padding: 12px 21px;
    margin: 12px 21px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.318);
}

.hotelDataRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hotelNameandDress{
    display: flex;
    flex-direction: column;
}

.hotelName{
    font-size: 2em;
    font-weight: 300;
}

.categoryDisplCont{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 195px;
}

.categoryDisplCont2{
    display: flex;
    flex-direction: column;
}
.categoryDisplCont2 span{
    display: flex;
}

.starCount{
    display: flex;
    width: 100%;
}

.starCount span{
    padding: 0 5px;
}

.categoryDisplCont h3{
    padding: 0 6px;
}

.hotelPriceRow{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.hotelDataColumn{
    display: flex;
    flex-direction: column;
    
}

.priceCatCont{
    padding: 9px 15px;
    min-width: 180px;
    border-left: solid 1px black;
    text-align: end;
    display: flex;
    flex-direction: column;

}

.priceCatCont:first-of-type{
  border-left: none;
}

.priceBlockCont{
    display: flex;
    margin: 1px 0;
}

.priceCell{
    width: 130px;
    border-right: solid 1px black;
    border-top: solid 1px black;
    border-bottom: solid 1px black;
    text-align: center;
}

.priceCell:first-of-type{
    border-left: solid 1px black;
}

.priceCatLabel{
    margin-bottom: 6px;
    font-size: 1.2em;
}

@media (max-width: 700px) {
    .hotelDataRow{
        flex-direction: column;
        align-items: flex-start;
    }

    .hotelDataColumn{
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
    }
    .categoryDisplCont{
        justify-content: flex-start;
    }

    .hotelPriceRow{
        flex-direction: column;
    }
    .priceCatCont{
        border-left: none;
        border-top: solid 1px black;
        text-align: start;
    }
}