.generalNavBar{
  width: 1200px;
  display: flex;
  position: fixed;
  top: 0%;
  flex-direction: column;
  background-color: white;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
  z-index: 50;
}
.navTop{
  display: flex;
  justify-content:space-evenly;
  align-items: center;
  width: 100%;
}

.navBtm{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.naviSection{
    width: 33%;
    display: flex;
    align-items: center;
    padding: 12px 6px;
}

.naviLogo{
    width: 60px;
}
.naviLogo2{
    width: 160px;
}
.naviLogo3{
    width: 210px;
}

.langSwitcherCont{
    display: flex;
    padding: 3px 6px;
    width: 33%;
    justify-content: flex-end;
}

.flagIcon{
    width: 23px;
    height: 23px;
    margin-right: 4px;
}

.activeLang{
    padding: 6px 4px;
    display: flex;
    border: solid 1px black;
}

.inActiveLang{
    display: flex;
    padding: 6px 4px;
    cursor: pointer;
    background-color: whitesmoke;
}

.menuItems{
    text-transform: uppercase;
    border: solid 1px black;
    width: 100%;
    text-align: center;
    font-weight: 650;
    letter-spacing: 1px;
    padding: 2px;
    cursor: pointer;
}

.menuItems:hover{
    background-color: rgb(29, 28, 28);
    color: white;
    transition: all ease 1s;
}

/* EcoAndes Bar */
.LTCNaviGenCont{
    width: 100%;
    position: fixed;
    top: 0;
    padding: 4px 12px;
    justify-content: space-between;
    align-items: center;
    display: flex;
    background-color: var(--ltc-teal);
    z-index: 50;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.22);
    color: white;
}

.LTCNaviGenCont a{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1px 6px;
    border-radius: 5px;
    height: fit-content;
    text-transform: uppercase;
    font-size: 0.9em;
    
}

.LTCNaviLinks{
    display: flex;
    margin-right: 33px;
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 3px;
}



/* ___________________ */
/* GMS Navi */
.GMSNaviCont{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid 1px red;
    padding: 6px 9px;
    background-color: white;
}

.GMSsNaviTitle{
    letter-spacing: 3px;
    text-transform: uppercase;
    font-weight: 600;
}

.GMSNaviBurger{
    padding: 4px;
    cursor: pointer;
    border: solid 1px transparent;
    display: flex;
    flex-direction: column;
    margin-right: 9px;
    transition: all ease 0.7s;
}

.GMSNaviBurger span{
    width: 26px;
    height: 1px;
    background-color: #191919;
    margin: 2px;
}

.gmsUserProfilePic{
    cursor: pointer;
    border-radius: 50%;
    margin: 0 6px;
    overflow: hidden;
    background-color: white;
}

.userNaviDrawer{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 15px;
}

.userNaviDrawerBTNs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 21px ;
}

.userNaviDrawerBTNs a{
    margin: 12px 6px;
    text-transform: uppercase;
    border: solid 1px black;
    padding: 6px;
    width: 150px;
    text-align: center;
    cursor: pointer;
}


@media (max-width: 1200px) {
    .generalNavBar{
        width: 100%;
    }
    .naviLogo3{
        width: 130px;
    }

}
@media (max-width: 600px) {
    .naviLogo2{
        display: none;
    }
    .menuItems{
        font-size: 0.7em;
    }

    .LTCNaviLinks{
        margin-right: 9px;
    }

}