.aProviderCont{
    display: flex;
    flex-direction: column;
    width: 600px;
    min-height: 99px;
    background-color: white;
    box-shadow: var(--frst-box-shadow);
    transition: all ease-in 0.3s;
    margin-bottom: 21px;
}

.aProviderCont h1{
    margin: 0;
    padding: 0; 
}
.aProviderCont h2{
    margin: 0;
    padding: 0; 
}

.spaceBetRow{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.hotelLinksDisp{
    display: flex;
    margin-bottom: 12px;
}

.hotelLinksDisp a{
    margin-left: 15px;
    cursor: pointer;
}

.priceDisp{
    padding: 12px 0;
    font-size: 1.3em;
}

@media (max-width: 650px) {
    .aProviderCont{
        width: 96%;

    }
}