

.inputPlaceholder{
  position: absolute;
  transform: translate(12px, -60px);
}

.inputBox{
  width: 100%;
  height: auto;
  background-color: white;
  padding: 6px 12px;
  border: solid 4px black;
  border-top: none;
  border-left: none;
}

.genTextCont{
  width: 100%;
  min-height: 40px;
  background-color: white;
  padding: 6px 12px;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.eachTextLine{
  display: flex;
  width: 100%;
  word-wrap: normal;
  display: inline;
  margin-bottom: 12px;
}