.inputPlaceholder{
  position: absolute;
  transform: translate(12px, -60px);
}

.inputBox{
  width: 100%;
  height: auto;
  padding: 6px 9px;
  border-bottom: solid 2px black;
  border-left: solid 2px black;
  margin-top: 12px;
  background-color: rgba(128, 254, 143, 0.273);
}

.spaceBetRow{
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.spaceBetRow i{
  font-size: 0.85em;
}

.inputLabel{
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.inputBox:focus{
  background-color: transparent;
}

.genTextCont{
  width: 100%;
  text-align: start;
  display: flex;
  flex-direction: column;
}

.eachTextLine{
  display: flex;
  width: 100%;
  word-wrap: normal;
  display: inline;
  margin-bottom: 12px;
}