.tourCardCont{
    width: 320px; 
    margin: 12px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tourCardTextCont{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-around;
    padding: 21px 0;
    transform: translateY(-33px);
    text-align: center;
}

.tourCardCTA{
    background-color: var(--pale-yellow);   
    width: fit-content; 
    padding: 9px 18px;
    color: var(--brick-red);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin: 15px 0;
}

.tourCardDestinations{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--brick-red);
}

.tourCardTripName{
    font-weight: 650;
    letter-spacing: 0.9px;
}

/*  A Tour Displayer */

.generalTourPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.accordionCont{
    width: 100%;
}

.accordionCont h2{
    text-transform: uppercase;
    color: var(--brick-red);
    font-weight: 400;
}

.tourContainer{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tourIntroCont{
    width: 1080px;
    padding: 9px 45px;
}

.partnerLogo{
    margin-top: 33px;
}

.breadcrumbNaviCont{
    display: flex;
    width: 100%;
    padding: 12px 45px;
    position: sticky;
    top: 25px;
    background-color: white;
    z-index: 30;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 12px;
    border-bottom: solid 0.5px black;
}

.breadcrumbNaviCont a{
    padding: 0 6px;
}



.tourCountryList{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 600;
    color: var(--brick-red);
}

.tourTitleBar{
    text-transform: uppercase;
    font-size: 1.8em;
    width: 100%;
    letter-spacing: 2px;
    margin: 15px 0;
    font-weight: 300;
}

.tourOverview{
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-align: justify;
}


.carouselSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}


.tourIMGCarousel{
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    padding: 0 45px;
    padding-bottom: 33px;
}

.aTourImage{
    position: relative;
    min-width: 400px;
    height: 225px;
    margin: 12px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.296);
    cursor: pointer;
}

.carouselIconCont{
    position: absolute;
    right: 21px;
    top: 45%;
    color: black;
    animation-name: ArrowMovement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.carouselIconCont2{
    position: absolute;
    right: 21px;
    top: 44%;
    color: white;
    animation-name: ArrowMovement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.carouselIconCont3{
    position: absolute;
    left: 21px;
    top: 45%;
    transform: rotate(180deg);
    animation-name: ArrowMovement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.carouselIconCont4{
    position: absolute;
    left: 21px;
    top: 44%;
    color: white;
    animation-name: ArrowMovement;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes ArrowMovement{
    0% {transform: translateX(12px)}
    50% { transform: translateX(-15px); }
    100% {
        transform: translateX(12px);
    }
}


.tourDetailsContainer{
    width: 1080px;
}

.mainImage{
    width: 720px;
    height: 540px;
    position: relative;
}

.imgDialogCont{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.dialogImgCont{
    margin-top: 33px;
    padding: 6px 12px;
    border-radius: 5px;
    width: 100%;

}

.dialogImgCont h3{
    font-weight: 600;
    letter-spacing: 1px;
}

.closeDialogBtn{
    margin: 9px;
    border: solid 3px var(--brick-red);
    border-radius: 5px;
    padding: 9px 12px;
    width: fit-content;
    cursor: pointer;
}

.privateDeparturesTitle{
    font-weight: 600;
    padding: 6px 9px;
    width: fit-content;
    transition: all ease 0.5s;
    cursor: pointer;
    color: white;
    background-color: var(--brick-red);
}

.tourDetails{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    text-align: center;  
    color: var(--brick-red);
}

.tourDetails > span{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 9px 21px;
    font-weight: 500;
    border-right: solid 2px var(--brick-red);
    text-transform: capitalize;
    font-size: 0.9em;
}

.tourDetails > span:last-of-type{
    /* target last span, remove border */
    border: none;
}


.tourDetails > span:nth-child(3):hover{
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.32);
}


.inclusionsExclusionsSec{
    display: flex;
    justify-content: space-around;
}

.incExcCont{
    border-radius: 3px;
    width: 48%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
}

.incExcCont h3{
    text-transform: uppercase;
}

.incExcItems{
    text-transform: capitalize;
}

.dayInclusionCont > h4{
    border-top: solid 1px var(--brick-red);
    padding-top: 12px;
}
.dayInclusionCont > ul{
    margin: unset;
    margin-top: 9px;
}
.dayInclusionCont li{
    font-size: 0.9em;
}

.hotelLink{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 9px;
}

.bookingProcessTourData{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px;
}

.bookingSteps{
    text-align: end;
    width: 100%;
    text-transform: uppercase;
    padding: 9px 12px;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}


.datePickerContainer{
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
}

.eachDateOpt{
    width: 195px;
    border: solid 1px black;
    padding: 9px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.294);
    transition: all ease 0.7s;
}
.eachDateOpt:hover{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.514);
}

.aRow{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 9px;
}


.backBTN{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.clientDatePicker{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.theDatePicker{
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 33px;
    border-bottom: dashed 1px black;
    display: flex;
    justify-content: space-between;
}

.dateInput{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 195px;
    border: solid 1px black;
    padding: 9px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.294);
    transition: all ease 0.7s;
}

.bookingStepBTNCont{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    padding-top: 12px;
    align-items: center;
    text-transform: uppercase;
}

.bookingStepBTN{
    padding: 9px 12px;
    background-color: var(--brick-red);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/*  _________________________________________ */
/*  _________________________________________ */
/*  _________________________________________ */
/* priceAndRoomingCont */
.priceAndRoomingCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clientNumberPickerCont{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.clientNumber{
    align-items: center;
    font-size: 3em;
    font-weight: 300;
    display: flex;
    width: 330px;
    justify-content: space-between;
}

.clientNumSwitcher{
    display: flex;
    flex-direction: column;
}

.numSwitcherArrow{
    height: fit-content;
    width: fit-content;
    margin: 0 33px;
    padding: 0 18px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.numSwitcherArrow:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.57);
}

.numSwitcherArrowOFFLINE{
    height: fit-content;
    width: fit-content;
    margin: 0 33px;
    padding: 0 18px;
    border-radius: 5px;
    transition: all ease-in 0.4s;
}
.numSwitcherArrowUp{
    height: fit-content;
    width: fit-content;
    margin: 0 33px;
    margin-bottom: 15px;
    padding: 0 18px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.numSwitcherArrowUp:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.57);
}

.numSwitcherArrowUpOFFLINE{
    height: fit-content;
    width: fit-content;
    margin: 0 33px;
    margin-bottom: 15px;
    padding: 0 18px;
    border-radius: 5px;
    transition: all ease-in 0.4s;
}

.priceDispCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    margin: 21px 0;
    height: 200px;
    padding: 15px;
    justify-content: space-between;
    font-weight: 300;
}

.priceppCont{
    display: flex;
    flex-direction: column;
}

.priceppDisp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.clientNumbDisp{
    width: 100%;
    text-align: end;
    padding: 12px 0;
}

.totalPriceDisp{
    border-top: dotted 1px black;
    text-align: end;
    font-size: 1.3em;
    padding-top: 5px;
}

.singleSuppAdderCont{
    border-top: solid 1px black;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleSupNumSwitcher{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.singleSupSwitcherArrow{
    height: fit-content;
    width: fit-content;
    margin: 0 15px;
    padding: 0 9px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.singleSupSwitcherArrow:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.57);
}

.singleSupSwitcherArrowOFFLINE{
    height: fit-content;
    width: fit-content;
    margin: 0 15px;
    padding: 0 9px;
    border-radius: 5px;
    transition: all ease-in 0.4s;
}
.singleSupSwitcherArrowUp{
    height: fit-content;
    width: fit-content;
    margin: 0 15px;
    margin-bottom: 9px;
    padding: 0 9px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.singleSupSwitcherArrowUp:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.57);
}

.singleSupSwitcherArrowUpOFFLINE{
    height: fit-content;
    width: fit-content;
    margin: 0 15px;
    margin-bottom: 9px;
    padding: 0 9px;
    border-radius: 5px;
    transition: all ease-in 0.4s;
}


/* __________________________________________ */
/* Guest Data */

.guestDataIntroCont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userDataForm{
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.30);
    margin: 15px;
    align-items: center;
}

.userDataForm h3{
    text-align: start;
    width: 100%;
}

.anInputcont{
    margin: 9px 12px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.anInputLabel{
    margin-right: 15px;
}

.clientFormSubmitBTN{
    margin: 9px 12px;
    width: 320px;
    padding: 12px;
    text-transform: uppercase;
    background-color: var(--brick-red);
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.recordedData{
    width: 320px;
    margin: 9px 0;
    padding: 9px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 3px var(--brick-red);
}

.dataGrids{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clientDataChecker{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 9px 21px;
    align-items: center;
}

.acceptDataBTN{
    padding: 9px 12px;
    border: solid 2px var(--brick-red);
    border-radius: 5px;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.acceptDataBTN:hover{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.243);
}

/* _____________________ */
/* Price Summary */

.priceSummary{
    background-color: whitesmoke;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 12px 18px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.summaryRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summaryRow >p {
    font-weight: 300;
}

.summaryColumn{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: dashed 1px black;
    padding-bottom: 18px;
    margin-bottom: 18px;
}

.tripNameDuration{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tripNameDuration >h3{
    text-transform: capitalize;
}

.priceSummaryDescriptor{
    text-transform: capitalize;
    padding: 12px 0;
}

.summaryRowTOTAL{
    width: 100%;
    border-top: solid 1px black;
    padding: 12px 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
}

.clientCountRow{
    text-align: end;
    padding: 9px 15px;
}

.clientCheckoutForms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.aCheckoutBoxCont{
    border: solid 1px rgba(0, 0, 0, 0.27);
    display: flex;
    align-items: center;
    border-radius: 5px;

}


.aCheckboxInput{
    padding: 18px;
    border-right: dashed 1px black;

}

.checkboxLabel{
    padding: 15px;
    text-align: justify;
}

.flightsAdder{
    padding: 15px;
    width: 100%;
}

.flightsAdder > input{
    width: 100%;
    padding: 12px;
}


.paymentBtn{
    background-color: whitesmoke;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 12px 18px;
    width: 100%;
    margin: 15px;
    width: 60%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.userDataForm > input[type=number] {
  -moz-appearance: textfield;
}

@media (max-width: 1080px) {
    .tourContainer{
        width: 100%;
    }
    .tourIntroCont{
        width: 100%;
    }
    .mainImage{
        width: 100%;
        height: calc(100vw - 28vw );
    }
    .tourDetailsContainer{
        width: 96%;
    }
    .bookingProcessTourData{
        width: 100%;
    }
    .priceSummary{
        width: 80%;
    }    
    .paymentBtn{
        width: 80%;
    }    
}
@media (max-width: 600px) {
    .bookingProcessTourData{
        padding: 33px 21px;
    }
    .tourIntroCont{
        padding: 9px 33px;
    }
    .tourCountryList{
        font-size: 1em;
        padding: 6px 0;
    }
    .tourDetails{
        font-size: 0.9em;
    }

    .tourDetails > span{
        padding: 9px;
    }

    .inclusionsExclusionsSec{
        flex-direction: column;
    }
    .incExcCont{
        width: 100%;
        margin-bottom: 6px;
    }

    .breadcrumbNaviCont{
        padding: 12px;
        word-wrap: break-word;
        flex-direction: column;
    }

    .eachDateOpt{margin: 12px;}
    .theDatePicker{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .tripNameDuration >h1{
        font-size: 1.7em;
    }

    .priceDispCont{
        height: 240px;
    }
    .aRow{
        flex-direction: column;
        align-items: center;
        margin: 0 9px;
    }
    .clientNumberPickerCont{
        text-align: center;
    }
    .clientNumber{
        font-size: 2.3em;
        width: 100%;
    }
    .paymentBtn{
        width: 96%;
    }  
    .priceSummary{
        width: 100%;
    }  
}