.tourCardCont{
    width: 320px; 
    margin: 12px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.tourCardTextCont{
    width: 90%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    justify-content: space-around;
    padding: 21px 0;
    transform: translateY(-33px);
    text-align: center;
}

.tourCardCTA{
    background-color: var(--pale-yellow);   
    width: fit-content; 
    padding: 9px 18px;
    color: var(--brick-red);
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin: 15px 0;
}

.tourCardDestinations{
    font-weight: 600;
    text-transform: uppercase;
    color: var(--brick-red);
}

.tourCardTripName{
    font-weight: 650;
    letter-spacing: 0.9px;
}