

/* Basic Tour Card */

.tourCardCont{
    width: 430px;    
    margin: 12px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 0 33px;
}

.partnerLogoCont{
    width: 96%;
    display: flex;
    justify-content: flex-end;
    padding: 0 12px;
    padding-top: 21px;
}

.tourCardTextCont{
    background-color: white;
    width: 93%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding:9px 6px;
    transform: translateY(-33px);
    text-align: center;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.28);
    text-transform: capitalize;
}

.tourCardTextCont span{
    margin: 12px 0;
}


.difficultyDispCont{
    width: 100%;
    text-align: end;
    padding: 0 6px;
    font-size: 0.9em;
    font-weight: 600;
}
.tourCardCTA{
    width: fit-content; 
    padding: 7px 15px;
    color: var(--ltc-teal);
    text-transform: uppercase;
    font-size: 0.9em;
    letter-spacing: 1.5px;
    font-weight: 800;
    margin: 7px 0;       
    border: solid 1px var(--ltc-teal);
}

.tourStartingPlace{
    text-transform: capitalize;
    color: var(--pop-orange);
    height: 20px;
    font-size: 0.95em;
    text-transform: uppercase;
    font-weight: 800;
}

.tourCardTripName{
    font-family: 'Roboto Slab', serif;
    letter-spacing: 0.9px;
    font-size: 1.1em;
    height: 48px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Text only tour card */

.textTourCard{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    margin: 0 11px 21px 11px;
    background-color: white;
    width: 220px;
    padding: 9px 12px;
    height: 150px;
    justify-content: space-between;
    box-shadow: var(--frst-box-shadow);
}

.userNameTag{
    width: calc(100% - 11px);
    text-align: end;
}
/* Sorting Tours UI */
.sortingUICont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    z-index: 3;
    padding: 0 12px;
}

.sortOptionBTN{
    padding: 5px 6px 3px 6px;
    border: solid 1px black;
    border-radius: 5px;
    margin: 0 6px;
    transition: all ease 0.5s;
}

.sortOptionBTNOffline{
    padding: 5px 6px 3px 6px;
    border: solid 1px transparent;
    border-radius: 5px;
    margin: 0 6px;
    cursor: pointer;
    transition: all ease 0.5s;
}

.sortOptionBTNOffline:hover{
    border: solid 1px black;
    box-shadow: 2px 2px 2px black;
}


.sortBTNCont{
    align-items: center;
    display: flex;
    font-weight: 600;
}

.sortBTNCont span{
    display: flex;
}

.orderBTNCont{
    display: flex;
    align-items: center;
}

.orderBTNCont span{
    display: flex;
}
.sortContrDispl{
    font-weight: 600;
    text-transform: capitalize;
    margin-right: 15px;
}

.selectedOrderDisp{
    cursor: default;
    display: flex;
    align-items: center;
    margin: 9px 9px;
    padding: 6px 9px;
    border: solid 1px black;
    border-radius: 8px;
    text-align: center;
}
.unselectedOrderDisp{
    cursor: pointer;
    display: flex;
    text-align: center;
    align-items: center;
    margin: 9px 9px;
    padding: 6px 9px;
    border: solid 1px transparent;
    border-radius: 8px;
    transition: all ease 0.5s;
}

.unselectedOrderDisp:hover{
    border: solid 1px var(--brick-red);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.392);
}


/* Squared Tour Highlight Disp */

.aSquaredCont{
    width: 500px;
    padding: 9px;
    
}

.highlightTourTitle{
    font-size: 1.5em;
    position: absolute;
    width: 500px;
    padding: 6px 15px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: flex;
    align-items: flex-end;
    text-shadow: 2px 2px black;
    transform: translateY(-84px);
}



/* rec tour disp highlights */

.aRectangCont{
    margin: 6 21px;
    position: inherit;
    width: 1000px;
    padding: 9px;
}


/*  A Tour Displayer */
.generalTourPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    align-items: center;
}

.accordionCont{
    width: 100%;
}

.accordionCont h2{
    text-transform: uppercase;
}

.tourContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.tourIntroCont{
    width: 100%;
    padding: 9px 45px;
}

.partnerLogo{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.startingplace{
    padding-bottom: 21px;
    font-weight: 600;
}

.breadcrumbNaviCont{
    display: flex;
    width: 100%;
    padding: 6px 45px;
    position: sticky;
    top: 36px;
    background-color: white;
    z-index: 30;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 0.9em;
    margin-bottom: 12px;
    border-bottom: solid 0.5px black;
    align-items: center;
}

.breadcrumbNaviCont a{
    padding: 0 6px;
}

.tourCountryList{
    text-transform: uppercase;
    font-size: 1.3em;
    font-weight: 700;
    color: var(--pop-orange);
}

.tourTitleBar{
    text-transform: uppercase;
    font-size: 2em;
    width: 100%;
    letter-spacing: 2px;
    margin: 15px 0;
    font-weight: unset;
}

.tourOverview{
    letter-spacing: 1px;
    margin-bottom: 15px;
    text-align: justify;
}


.carouselSection{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}


/* IMAGE SLIDER */
.sliderV2{
    display: flex;
    width: fit-content;
    transition: all ease-in 0.3s;
    animation-name: sliderAnimation;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes sliderAnimation{
  0%{
    transform: translateX(0px);
  }
  33%{
    transform: translateX(-15px);
  }
  66%{
    transform: translateX(15px);
  }
  100%{
    transform: translateX(0px);
  }
}


.tourIMGCarousel{
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    white-space: nowrap;
    padding-bottom: 33px;
}

.aTourImage{
    position: relative;
    min-width: 400px;
    height: 225px;
    margin: 12px;
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.296);
    cursor: pointer;
}

.tourTitleCard{
    width: 100%;
    padding: 21px;
    z-index: 1;
}

.mainImgDisplayer{
    box-shadow: var(--frst-box-shadow);
    padding: 4px;
    padding-bottom: 1px;
    background-color: var(--pop-orange);
}



.imgDialogCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialogImgCont{
    padding: 6px 12px;
    border-radius: 5px;
    width: 1080px;
}

.dialogImgCont h3{
    font-weight: 600;
    letter-spacing: 1px;
}

.closeDialogBtn{
    margin: 9px;
    border: solid 3px var(--pop-orange);
    border-radius: 5px;
    padding: 9px 12px;
    width: fit-content;
    cursor: pointer;
}



/*  //////////////////////////////////////// */
/*  //////////////////////////////////////// */
/* export to mail */


.aTourCTACont{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.contactNowBTN{
    font-weight: 600;
    padding: 9px 12px;
    transition: all ease 0.5s;
    cursor: pointer;
    color: white;
    background-color: var(--pop-orange);
    margin: 15px 0;
    text-transform: capitalize;
    min-height: 42px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.secondaryCTABTN{
    height: 42px;
    width: 42px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--pop-orange);
    margin-left: 9px;
    border: solid 3px var(--pop-orange);
}
/* //////////////////// */
/* //////////////////// */

/* export to we travel */
.bookNowBTN{
    border: solid 2px var(--pop-orange);
    width: fit-content;
    padding: 9px 12px;
    color: var(--pop-orange);
    text-transform: uppercase;
    font-weight: 800;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 5px 5px rgb(95, 95, 95, 0.5);
    transition: all ease 0.3s;
}

.bookNowBTN:hover{
    box-shadow: 9px 7px rgb(95, 95, 95, 0.2);
}


/* ///////////////////////////////////////////// */
.trekDiffNotice{
    font-size: 1.1em;
    padding: 9px 15px;
    border: solid 1px black;
    text-transform: capitalize;
    margin: 0 12px;
    margin-bottom: 15px;
    text-align: center;
}

.tourDetails{
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center; 
    color: black;
    width: 100%;
    flex-wrap: wrap;
    transition: all ease-in 0.3s;
}


.iconCont{
    width: 22%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.1em;
    text-transform: capitalize;
    margin: 6px 9px;
}


.iconCont strong{
    text-transform: uppercase;
}

.tourDataCont{
    display: flex;
    width: 100%;
    padding: 21px 0;
    justify-content: space-between;
}

.tourData{
    width: 63%;
}

.supportInfoCont{
    position: sticky;
    width: 33%;
    background-color: rgb(231, 229, 229);
    box-shadow: 5px 5px 5px rgb(0, 0, 0, 0.37);
    top: 42px;
    height: fit-content;
    padding: 15px 3px;
}

.sectionTitles{
    top: 30px;
}

.tourInfoDescriptor{
    padding: 0 25px;
    text-align: justify;
    padding-bottom: 15px;
}

.iconDiffDisp{
    display: flex;
    justify-content: space-around;
    margin-bottom: 12px;
    padding: 9px 0;
    font-size: 1.3em;
}

.iconDiffDisp span{
    width: fit-content;
}

.inclusionsExclusionsSec{
    display: flex;
    justify-content: space-around;
}

.incExcCont{
    border-radius: 3px;
    width: 48%;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
}

.incExcCont h3{
    text-transform: uppercase;
}

.incExcItems{
    text-transform: capitalize;
}

.sectionTitles{
    text-transform: uppercase;
    font-weight: 600;
    margin: 6px 21px;
    color: var(--pop-orange);
    font-size: 1.15em;
    border-top: solid 2px var(--pop-orange);
    padding: 12px 0;
}

.dayInclusionCont > h4{
    border-top: solid 1px var(--pop-orange);
    padding-top: 12px;
}
.dayInclusionCont > ul{
    margin: unset;
    margin-top: 9px;
}
.dayInclusionCont li{
    text-transform: capitalize;
    font-size: 0.9em;
}

.trekDataCont{
    font-size: 0.9em;
    display: flex;
    padding: 3px 0;
    padding-left: 18px;
}
.trekDataCont div{
    width: 130px;
    font-weight: 550;
    text-transform: capitalize;
}

.hotelLink{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 9px;
}

.bookingProcessTourData{
    width: 1080px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px;
}

.bookingSteps{
    text-align: end;
    width: 100%;
    text-transform: uppercase;
    padding: 9px 12px;
    border-bottom: solid 1px black;
    border-right: solid 1px black;
}


.datePickerContainer{
    display: flex;
    flex-direction: column;
    width: 98%;
    align-items: center;
}

.eachDateOpt{
    width: 195px;
    border: solid 1px black;
    padding: 9px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.294);
    transition: all ease 0.7s;
}
.eachDateOpt:hover{
    box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.514);
}

.aRow{
    display: flex;
    width: 85%;
    justify-content: space-between;
    margin: 9px;
}


.backBTN{
    width: 100%;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.clientDatePicker{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.theDatePicker{
    width: 100%;
    padding-bottom: 15px;
    margin-bottom: 33px;
    border-bottom: dashed 1px black;
    display: flex;
    justify-content: space-between;
}

.dateInput{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    width: 195px;
    border: solid 1px black;
    padding: 9px;
    cursor: pointer;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.294);
    transition: all ease 0.7s;
}

.bookingStepBTNCont{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    margin-top: 12px;
    padding-top: 12px;
    align-items: center;
    text-transform: uppercase;
}

.bookingStepBTN{
    padding: 9px 12px;
    background-color: var(--pop-orange);
    color: white;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    cursor: pointer;
}


/*  _________________________________________ */
/*  _________________________________________ */
/*  _________________________________________ */
/* priceAndRoomingCont */
.priceAndRoomingCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.clientNumberPickerCont{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    flex-direction: column;
}

.clientNumber{
    align-items: center;
    font-size: 3em;
    font-weight: 300;
    display: flex;
    width: 330px;
    justify-content: space-between;
}

.clientNumSwitcher{
    display: flex;
    flex-direction: column;
}

.numSwitcherArrow{
    height: fit-content;
    width: fit-content;
    margin: 0 33px;
    padding: 0 18px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.numSwitcherArrow:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.57);
}

.numSwitcherArrowOFFLINE{
    height: fit-content;
    width: fit-content;
    margin: 0 33px;
    padding: 0 18px;
    border-radius: 5px;
    transition: all ease-in 0.4s;
}
.numSwitcherArrowUp{
    height: fit-content;
    width: fit-content;
    margin: 0 33px;
    margin-bottom: 15px;
    padding: 0 18px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.numSwitcherArrowUp:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.57);
}

.numSwitcherArrowUpOFFLINE{
    height: fit-content;
    width: fit-content;
    margin: 0 33px;
    margin-bottom: 15px;
    padding: 0 18px;
    border-radius: 5px;
    transition: all ease-in 0.4s;
}

.priceDispCont{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    margin: 21px 0;
    height: 200px;
    padding: 15px;
    justify-content: space-between;
    font-weight: 300;
}

.priceppCont{
    display: flex;
    flex-direction: column;
}

.priceppDisp{
    width: 100%;
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
}

.clientNumbDisp{
    width: 100%;
    text-align: end;
    padding: 12px 0;
}

.totalPriceDisp{
    border-top: dotted 1px black;
    text-align: end;
    font-size: 1.3em;
    padding-top: 5px;
}

.singleSuppAdderCont{
    border-top: solid 1px black;
    margin-top: 21px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.singleSupNumSwitcher{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
}

.singleSupSwitcherArrow{
    height: fit-content;
    width: fit-content;
    margin: 0 15px;
    padding: 0 9px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.singleSupSwitcherArrow:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.57);
}

.singleSupSwitcherArrowOFFLINE{
    height: fit-content;
    width: fit-content;
    margin: 0 15px;
    padding: 0 9px;
    border-radius: 5px;
    transition: all ease-in 0.4s;
}
.singleSupSwitcherArrowUp{
    height: fit-content;
    width: fit-content;
    margin: 0 15px;
    margin-bottom: 9px;
    padding: 0 9px;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: all ease-in 0.4s;
}

.singleSupSwitcherArrowUp:hover{
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.57);
}

.singleSupSwitcherArrowUpOFFLINE{
    height: fit-content;
    width: fit-content;
    margin: 0 15px;
    margin-bottom: 9px;
    padding: 0 9px;
    border-radius: 5px;
    transition: all ease-in 0.4s;
}


/* __________________________________________ */
/* Guest Data */

.guestDataIntroCont{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.userDataForm{
    display: flex;
    flex-direction: column;
    padding: 12px;
    width: fit-content;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.30);
    margin: 15px;
    align-items: center;
}

.userDataForm h3{
    text-align: start;
    width: 100%;
    border-bottom: solid 1px black;
    padding-bottom: 9px;
}

.anInputcont{
    margin: 9px 12px;
    width: 320px;
    display: flex;
    justify-content: space-between;
}

.anInputLabel{
    margin-right: 15px;
}

.clientFormSubmitBTN{
    margin: 9px 12px;
    width: 320px;
    padding: 12px;
    text-transform: uppercase;
    background-color: var(--pop-orange);
    color: white;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.recordedData{
    width: 320px;
    margin: 9px 0;
    padding: 9px;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
    border: solid 3px var(--pop-orange);
}

.dataGrids{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.clientDataChecker{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 9px 21px;
    align-items: center;
}

.acceptDataBTN{
    padding: 9px 12px;
    border: solid 2px var(--pop-orange);
    border-radius: 5px;
    margin: 0 15px;
    text-transform: uppercase;
    font-weight: 600;
    transition: all ease-in 0.3s;
    cursor: pointer;
}

.acceptDataBTN:hover{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.243);
}

/* _____________________ */
/* Price Summary */

.priceSummary{
    background-color: whitesmoke;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 12px 18px;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 15px;
}

.summaryRow{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.summaryRow >p {
    font-weight: 300;
}

.summaryColumn{
    width: 100%;
    display: flex;
    flex-direction: column;
    border-bottom: dashed 1px black;
    padding-bottom: 18px;
    margin-bottom: 18px;
}

.tripNameDuration{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.tripNameDuration >h3{
    text-transform: capitalize;
}

.priceSummaryDescriptor{
    text-transform: capitalize;
    padding: 12px 0;
}

.summaryRowTOTAL{
    width: 100%;
    border-top: solid 1px black;
    padding: 12px 0;
    display: flex;
    justify-content: flex-end;
    font-size: 1.1em;
}

.clientCountRow{
    text-align: end;
    padding: 9px 15px;
}

.clientCheckoutForms{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.aCheckoutBoxCont{
    border: solid 1px rgba(0, 0, 0, 0.27);
    display: flex;
    align-items: center;
    border-radius: 5px;

}


.aCheckboxInput{
    padding: 18px;
    border-right: dashed 1px black;

}

.checkboxLabel{
    padding: 15px;
    text-align: justify;
}

.flightsAdder{
    padding: 15px;
    width: 100%;
}

.flightsAdder > input{
    width: 100%;
    padding: 12px;
}

.paymentBtn{
    background-color: whitesmoke;
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    padding: 12px 18px;
    width: 100%;
    margin: 15px;
    width: 60%;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    text-align: center;
}

.userDataForm > input[type=number] {
  appearance: textfield;
}

.footerBar{
    background-color: whitesmoke;
    padding: 12px 21px;
    font-weight: 600;
    display: flex;
    justify-content: center;
}

.footerBar span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 12px;
}

.userUIDialogCont{
    padding: 21px 44px;
    height: 300px;
    display: flex;    
    flex-direction: column;
    transition: all ease-in 0.3s;
}


.tourCopyBTNS{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
    margin-bottom: 21px;
}
.tourCopyBTNSOFFLINE{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 9px;
    margin-bottom: 21px;
}

.tourCopyBTNS span{
    width: 48%;
    text-align: center;
    border: solid 1px black;
    padding: 9px 0;
    cursor: pointer;
}
.tourCopyBTNSOFFLINE span{
    opacity: 0.5;
    width: 48%;
    text-align: center;
    border: solid 1px black;
    padding: 9px 0;
    cursor: default;
}

.tourCopyBTNS span:nth-of-type(2){
    background-color: rgb(65, 65, 79);
    color: white;
}
.tourCopyBTNSOFFLINE span:nth-of-type(2){
    background-color: rgb(65, 65, 79);
    color: white;
}


.selectOptBTN{
    margin-right: 9px;
    margin-top: 9px;
    background-color: whitesmoke;
    padding: 9px 15px;
    cursor: pointer;
}


/* tour Explorer utils */
.suppDataCont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    height: 40px;
}



.editItinOptDisp{
    width: 99%;
    display: flex;
    flex-wrap: wrap;
    padding: 15px 0;
    text-align: center;
}







@media (max-width: 1080px) {

    .aRectangCont{
        width: 100%;
    }
    .tourCardCont{
        margin: 0 21px;
    }

    .tourTitleCard{
        box-shadow: none;
        margin-bottom: 0;
        padding-bottom: 6px;
    }

    .mainImgDisplayer{
        box-shadow: none;
    }


/* a Tour Data */
    .iconCont{
        width: 200px;
        font-size: 1em;
    }

/* Booking Steps */
    .bookingProcessTourData{
        width: 100%;
    }
    .priceSummary{
        width: 80%;
    }    
    .paymentBtn{
        width: 80%;
    }
    .breadcrumbNaviCont{
        padding: 6px 12px;
        padding-top: 15px;
        top: 32px;
    }
    .tourCardTextCont{
        height: 190px;
    }

    .contactNowBTN{
        height: 53px;
    }

    .secondaryCTABTN{
        height: 53px;
        width: 53px;
    }

    .tourDataCont{
        flex-direction: column;

    }
    .tourData{
        width: 100%;
    }
    .tourDataCont{
        flex-direction: column;
        align-items: center;
    }
    .supportInfoCont{
        width: 94%;
        margin: 15px 0;
        padding: 0;
        display: flex;
    }
    .supportInfoCont span{
        width: 50%;
    }
    .iconDiffDisp span{
        width: fit-content;
    }
    .dialogImgCont{
        width: 100%;
    }
    .highlightTourTitle{
        width: 41vw;
        padding: 6px 15px;
        color: white;
        text-transform: uppercase;
        letter-spacing: 1px;
        display: flex;
        text-shadow: 2px 2px black;
        font-size: 1.2em;
    }

}

@media (max-width: 600px) {

    .bookingProcessTourData{
        padding: 33px 21px;
    }
    .tourIntroCont{
        padding: 9px 25px;
    }
    .tourCountryList{
        font-size: 1em;
        padding: 6px 0;
    }

    .aTourCTACont{
        justify-content: flex-end;
    }


    .tourDetails{
        padding-bottom: 0;
    }

    .iconCont{
        width: 150px;
        font-size: 0.9em;
    }

    .inclusionsExclusionsSec{
        flex-direction: column;
    }
    .incExcCont{
        width: 100%;
        margin-bottom: 6px;
    }

    .breadcrumbNaviCont{
        word-wrap: break-word;
        flex-direction: column;
        font-size: 0.7em;
        align-items: flex-start;
    }

    .eachDateOpt{margin: 12px;}
    .theDatePicker{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .tripNameDuration >h1{
        font-size: 1.7em;
    }

    .priceDispCont{
        height: 240px;
    }
    .aRow{
        flex-direction: column;
        align-items: center;
        margin: 0 9px;
    }
    .clientNumberPickerCont{
        text-align: center;
    }
    .clientNumber{
        font-size: 2.3em;
        width: 100%;
    }
    .paymentBtn{
        width: 96%;
    }  
    .priceSummary{
        width: 100%;
    }  
    .tourIMGCarousel{
        padding: 0;
    }
    .tourCardTextCont{
        height: fit-content;
    }
    .supportInfoCont {
        flex-direction: column;
    }     
    .supportInfoCont span{
        width: 100%;
    }    
    .iconDiffDisp span{
        width: fit-content;
    }

    .highlightTourTitle{
        font-size: 1em;
        padding: 0 15px;
        width: 100%;
        color: black;
        text-shadow: none;
        justify-content: baseline;
        height: auto;
        position: relative;
        transform: unset;
    }
}


@media print{
    .sliderV2{
        display: none;
    }

    .carouselSection{
        display: none;
    }

    .pageBreak{
        break-after: page;
    }

    .breadcrumbNaviCont{
        display: none;
    }
    .aTourCTACont{
        display: none;
    }
    .supportInfoCont {
        flex-direction: row;
    }     
    .supportInfoCont span{
        width: 50%;
    } 
    .inclusionsExclusionsSec{
        flex-direction: row;
    }
    .incExcCont{
        width: 50%;
        margin-bottom: 6px;
    }
}