html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  display: flex;
}

* {
  box-sizing: border-box;
}

h1{
  font-weight: 300;
  margin: 12px 0;
}
h2{
  margin: 9px 0;
  font-weight: 300;
}

h3{
  margin: 9px 0;
  font-weight: 300;
}

h4{
  margin: 15px 0;
  font-weight: 300;
  text-transform: capitalize;
}

:root{
/* Brand colors:  */

/* brown condor: */
--brown-main: #6f522b;

/* pale gold */
--pale-gold: #ffefc6;

/* dull gold */
--dull-gold: #ae9354;

/* pale yellow */
--pale-yellow: #ffdf89;

/* dark Olive */
--dark-olive: rgb(62,60,31);

/* brick red */
--brick-red: #943a14;
}

